Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}"
      run: bun run format:staged -- {staged_files} && git add {staged_files}

    lint:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs}"
      run: bun run lint:staged -- {staged_files} && git add {staged_files}

Replace npx with bunx
  .github/workflows/deploy.yml
  README.md
Due: format

Update bun.lock after rebase
  bun.lock
Due: none

Fix bun commands in README
  README.md
Due: format

Fix bun commands in README #2
  README.md
Due: format

Update README.md
  README.md
Due: format

README: bun.toml -> bunfig.toml
  README.md
Due: format

update readme
  README.md
  packages/db/utils.ts
Due: format, lint

Update README with authentication options.
  apps/api/README.md
  apps/api/src/middlewares/auth.ts
Due: format, lint

Use StackAuth /user-api-keys/check to check API key.
  apps/api/src/index.ts
  apps/api/src/middleware/auth.ts
  apps/api/src/middlewares/auth.ts
Due: format, lint

Create middleware to authenticate requests with StackAuth.
  apps/api/package.json
  apps/api/src/middleware/auth.ts
Due: format, lint

Make auth middleware work for API Key authentication.
  apps/api/.env.example
  apps/api/src/index.ts
Due: format, lint

remove hono as dependency, introduce elysia
  apps/api/package.json
Due: format

remove unused secret from env template
  apps/api/.env.example
Due: none

remove unnecessary comments
  apps/api/src/index.ts
Due: format, lint

remove teapot message
  apps/api/src/index.ts
Due: format, lint

remove typo
  apps/api/src/index.ts
Due: format, lint

migrate from hono to elysia
  README.md
  apps/api/.env.example
  apps/api/README.md
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/middlewares/auth.ts
  apps/api/tsconfig.json
  infra/README.md
Due: format, lint

remove hardcoded error handling
  apps/api/src/index.ts
Due: format, lint

even prettier
  apps/api/.env.example
Due: none

prettier
  apps/api/src/api.ts
  apps/api/src/index.ts
  apps/api/src/middlewares/auth.ts
Due: format, lint

remove api group, use elysia plugins for auth
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/middlewares/auth.ts
Due: format, lint

export auth plugin as const
  apps/api/src/index.ts
  apps/api/src/middlewares/auth.ts
Due: format, lint

prettier
  apps/api/src/api.ts
Due: format, lint

update lockfile
  bun.lock
Due: none

clean db from api
  apps/api/package.json
Due: format

simplify auth
  apps/api/src/index.ts
  apps/api/src/middlewares/auth.ts
Due: format, lint

update gitignore
  .gitignore
Due: none

add v1 group
  apps/api/package.json
  apps/api/src/index.ts
Due: format, lint

improve guard position in the chain
  apps/api/src/index.ts
Due: format, lint

prettier
  apps/api/tsconfig.json
Due: format

update required secrets on sst as well
  README.md
  infra/stacks/api.ts
  infra/stacks/app.ts
  package.json
Due: format, lint

chores
  apps/api/src/middlewares/auth.ts
Due: format, lint

add build step
  apps/api/package.json
  infra/stacks/build-api/Dockerfile
Due: format

Set API package as private and remove unused devDependency
  apps/api/package.json
Due: format

Refactor Dockerfile to include a builder stage for building the API application, optimizing the image by separating build and runtime dependencies.
  infra/stacks/build-api/Dockerfile
Due: none

Update bun.lock and package.json to reflect esbuild version upgrade and enhance start script with build check
  apps/api/package.json
  bun.lock
Due: format

add swagger
  apps/api/package.json
  apps/api/src/index.ts
  bun.lock
Due: format, lint

ESLint: Ignore vendor folders
  eslint.config.mjs
  packages/ui/src/mintlify/utils/getNodeText.ts
Due: format, lint

Add "_" for vendor folders and global config to ignore for format / lint
  .prettierignore
  apps/app/mdx-components.tsx
  eslint.config.mjs
  packages/ui/src/_mintlify/LICENSE
  packages/ui/src/_mintlify/code/CodeBlock.tsx
  packages/ui/src/_mintlify/code/CodeGroup.tsx
  packages/ui/src/_mintlify/code/CopyToClipboardButton.tsx
  packages/ui/src/_mintlify/utils/copyToClipboard.ts
  packages/ui/src/_mintlify/utils/delay.ts
  packages/ui/src/_mintlify/utils/getNodeText.ts
  packages/ui/src/_shadcn/LICENSE
  packages/ui/src/_shadcn/ui/avatar.tsx
  packages/ui/src/_shadcn/ui/badge.tsx
  packages/ui/src/_shadcn/ui/button.tsx
  packages/ui/src/_shadcn/ui/dropdown-menu.tsx
  packages/ui/src/_shadcn/ui/input.tsx
  packages/ui/src/_shadcn/ui/separator.tsx
  packages/ui/src/_shadcn/ui/sheet.tsx
  packages/ui/src/_shadcn/ui/sidebar.tsx
  packages/ui/src/_shadcn/ui/skeleton.tsx
  packages/ui/src/_shadcn/ui/tooltip.tsx
  packages/ui/src/components/Avatar.tsx
  packages/ui/src/components/Badge.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/DropdownMenu.tsx
  packages/ui/src/components/Input.tsx
  packages/ui/src/components/Sidebar.tsx
  packages/ui/src/components/Skeleton.tsx
Due: format, lint
