Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}"
      run: bun run format:staged -- {staged_files} && git add {staged_files}

    lint:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs}"
      run: bun run lint:staged -- {staged_files} && git add {staged_files}

use dev pre-existing resources for non prod environments
  infra/stacks/cluster.ts
  infra/stacks/db.ts
  infra/stacks/network.ts
Due: format, lint

improve env variables
  infra/stacks/api.ts
  infra/stacks/gateway.ts
Due: format, lint

typo
  README.md
Due: format

update shared resources
  infra/stacks/cluster.ts
  infra/stacks/db.ts
  infra/stacks/network.ts
Due: format, lint

wip
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/route.tsx
Due: format, lint

Make Submit button in the collpasible use global save intent
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
Due: format, lint

Document where to find auth secrets.
  README.md
Due: format

avoid declaring const used only once
  apps/console/app/lib/auth/stack-auth.ts
Due: format, lint

improve readme
  README.md
Due: format

let sst define db secrets
  .github/workflows/deploy.yml
  README.md
  infra/stacks/db.ts
  infra/stacks/env.ts
Due: format, lint

use docker instead of docker compose
  infra/stacks/docker/docker-compose.dev.yml
  package.json
Due: format

Add basic branch drop down component
  apps/console/app/routes/_shell/sidebar-branch.tsx
Due: format, lint

Hook up branch drop down to shell sidebar.
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

fallback on process.env when sst.resource is missing
  README.md
  apps/api/.env.example
  apps/gateway/.env.example
  apps/gateway/package.json
  apps/gateway/src/middleware/provider.ts
  bun.lock
  infra/stacks/cluster.ts
  infra/stacks/db.ts
  infra/stacks/env.ts
  infra/stacks/network.ts
  package.json
  packages/db/drizzle.ts
  packages/db/package.json
  packages/shared-api/auth/auth-service.ts
  packages/shared-api/auth/stack-auth.ts
  packages/shared-api/package.json
  packages/shared-utils/package.json
  packages/shared-utils/sst/resource.ts
  packages/shared-utils/tsconfig.json
  turbo.json
Due: format, lint

Make icon black and remove unnecessary centering.
  apps/console/app/routes/_shell/sidebar-branch.tsx
Due: format, lint

Add back sidebar Menu tag.
  apps/console/app/routes/_shell/sidebar-branch.tsx
Due: format, lint

typo on env templates
  apps/api/.env.example
  apps/gateway/.env.example
Due: none

nitpicks
  README.md
  apps/api/.env.example
  apps/gateway/.env.example
Due: format

do not remove sst env when cleaning
  package.json
Due: format

remove dev specific options from sst configuration
  infra/stacks/api.ts
  infra/stacks/db.ts
  infra/stacks/gateway.ts
Due: format, lint

replace shared-utils package with inline try catch
  README.md
  apps/gateway/package.json
  apps/gateway/src/middleware/provider.ts
  bun.lock
  infra/stacks/db.ts
  packages/db/drizzle.ts
  packages/db/package.json
  packages/shared-api/auth/stack-auth.ts
  packages/shared-api/package.json
  packages/shared-utils/package.json
  packages/shared-utils/sst/resource.ts
  packages/shared-utils/tsconfig.json
Due: format, lint

nitpicks
  README.md
  infra/stacks/db.ts
Due: format, lint

Add shortcut for drop down branch selector.
  apps/console/app/routes/_shell/sidebar-branch.tsx
Due: format, lint

start from version 0
  package.json
Due: format

v0.0.1
  package.json
Due: format

Added padding for mobile screen.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
Due: format, lint

set correct memory per vCPU
  infra/stacks/api.ts
  infra/stacks/gateway.ts
Due: format, lint

Remove form auto submission on every change.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
Due: format, lint

code indentation
  apps/console/app/routes/_shell/sidebar-branch.tsx
Due: format, lint

Add Create Branch button to branch selector drop down.
  apps/console/app/routes/_shell/sidebar-branch.tsx
Due: format, lint

Add branch creation functionality to branches.ts
  apps/console/app/mocks/branches.ts
Due: format, lint

Add branch creation form component.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.create/form.tsx
Due: format, lint

Added branch creation route.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.create/route.tsx
Due: format, lint

Fetch branches list from branches endpoint.
  apps/console/app/routes/_shell.agent.$agentSlug/route.tsx
Due: format, lint

Added branch creation shortcut and proper redirect to branch creation screen.
  apps/console/app/routes/_shell/sidebar-branch.tsx
Due: format, lint

Install collapsible component requirements.
  bun.lock
  packages/shared-ui/package.json
Due: format

Add collapsible component from shadcn.
  packages/shared-ui/src/_shadcn/ui/collapsible.tsx
Due: format, lint

Export collapsible component.
  packages/shared-ui/src/components/Collapsible.tsx
Due: format, lint
