Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format:staged -- {staged_files} && git add {staged_files}

lint:
  run: bun run lint:staged -- {staged_files} && git add {staged_files}

Add sidebar nav menu item.
  apps/console/app/routes/_shell/sidebar-nav.tsx
Due: format, lint

Added configuration form.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
Due: format, lint

Added configuration route
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/route.tsx
Due: format, lint

Added model configuration to sidebar.
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

remove cursor rules
  .cursorrules
Due: none

improve model name validation logic
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/agents/model.ts
  apps/api/src/modules/branches/index.ts
  apps/api/src/modules/branches/model.ts
  package.json
  packages/database/prisma/migrations/20250926021756_create_agents_branches_tables/migration.sql
  packages/database/repository.ts
Due: format, lint

Update branches to return original error instead of 500.
  apps/console/app/mocks/branches.ts
Due: format, lint

Simplified form logic handling.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/route.tsx
Due: format, lint

Update mock API with required agentSlug.
  apps/console/app/mocks/agents.ts
  apps/console/app/mocks/db.ts
Due: format, lint

Reflect repo Form conventions.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
Due: format, lint

better organize database errors
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/middleware/repository-errors.ts
  apps/api/src/middlewares/slugs.ts
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/agents/model.ts
  apps/api/src/modules/branches/index.ts
  apps/api/src/modules/branches/model.ts
  apps/gateway/package.json
  apps/gateway/src/middleware/oai-errors.ts
  bun.lock
  packages/database/package.json
  packages/database/repository.ts
  packages/database/src/errors/index.ts
  packages/database/src/utils/create-slug.ts
  packages/shared-api/package.json
Due: format, lint

fix expand branches
  apps/api/src/index.ts
  apps/api/src/middlewares/query-params.ts
  apps/api/src/middlewares/repository-errors.ts
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/agents/model.ts
  apps/api/src/modules/branches/index.ts
  apps/gateway/src/index.ts
  apps/gateway/src/middlewares/oai-errors.ts
  apps/gateway/src/middlewares/provider.ts
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/modules/embeddings.ts
  apps/gateway/src/modules/models.ts
  packages/database/prisma/schema.prisma
  packages/database/repository.ts
Due: format, lint

add soft delete for branches
  apps/api/src/modules/branches/index.ts
  apps/api/src/modules/branches/model.ts
  packages/database/repository.ts
Due: format, lint

reduce boilerplate code
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/branches/index.ts
  packages/database/repository.ts
Due: format, lint

chores
  apps/api/src/middlewares/repository-errors.ts
  packages/database/prisma/migrations/20250927092858_create_agents_branches_tables/migration.sql
  packages/database/repository.ts
  packages/database/src/errors/index.ts
Due: format, lint

revert changes on clean
  lefthook.yml
  package.json
Due: format

add todo
  apps/api/src/modules/agents/model.ts
Due: format, lint

revert changes on clean script
  apps/api/package.json
  apps/console/package.json
  apps/gateway/package.json
  infra/package.json
  packages/aikit-respond-io/package.json
  packages/aikit-ui/package.json
  packages/database/package.json
  packages/shared-api/package.json
  packages/shared-ui/package.json
Due: format

typo
  apps/api/src/index.ts
Due: format, lint

typo
  apps/gateway/src/index.ts
Due: format, lint

fix script
  packages/aikit-ui/package.json
Due: format

add comment
  packages/database/repository.ts
Due: format, lint

elysia expects promises already
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/branches/index.ts
  packages/database/repository.ts
Due: format, lint

fix validation error
  apps/api/src/index.ts
  apps/api/src/middlewares/errors.ts
  apps/api/src/modules/agents/model.ts
Due: format, lint

reduce code duplication
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/branches/index.ts
  packages/database/repository.ts
Due: format, lint

add FUTURE
  apps/api/src/middlewares/errors.ts
Due: format, lint

typo
  apps/api/src/middlewares/errors.ts
Due: format, lint

add FUTURE
  apps/api/src/modules/agents/model.ts
Due: format, lint

prisma format
  packages/database/prisma/schema.prisma
Due: none

generate prisma client on postinstall
  package.json
Due: format

be specific when ignoring files
  .dockerignore
  .gitignore
Due: none

await deletes
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/branches/index.ts
Due: format, lint

use '&&' for sequential execution
  package.json
Due: format

fix path for PostgreSQL volume mapping
  package.json
Due: format

update peer deps
  bun.lock
  packages/shared-api/package.json
Due: format

add index on branch agent slug
  packages/database/prisma/migrations/20250929043153_create_agents_branches_tables/migration.sql
  packages/database/prisma/schema.prisma
Due: none

add lambda migrator
  infra/stacks/db.ts
  packages/database/lambda/migrator.ts
  packages/database/tsconfig.json
Due: format, lint

make it ready for remote deployment
  infra/stacks/db.ts
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
  packages/database/prisma.config.ts
Due: format, lint

make future still relevant
  apps/api/src/modules/branches/index.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}
  lint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
