Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format:staged -- {staged_files} && git add {staged_files}

lint:
  run: bun run lint:staged -- {staged_files} && git add {staged_files}

Remove shadcn from public exports.
  packages/ui/package.json
Due: format

Remove lib from ui exports.
  packages/ui/package.json
Due: format

Use relative imports for in-package imports of ui package and import kbs from console/lib/utils in routes/_shell
  apps/console/app/routes/_shell/route.tsx
  packages/ui/package.json
  packages/ui/src/components/Sidebar.tsx
Due: format, lint

Removed unnecessary exports and added relative imports for in-package consumption of components in aikit-ui.
  packages/aikit-ui/package.json
  packages/aikit-ui/src/_ai-elements/conversation.tsx
  packages/aikit-ui/src/_ai-elements/message.tsx
  packages/aikit-ui/src/_ai-elements/prompt-input.tsx
  packages/aikit-ui/src/_shadcn/ui/select.tsx
  packages/aikit-ui/src/_shadcn/ui/textarea.tsx
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Add shadcn to package exports for ui package to use components.
  packages/aikit-ui/package.json
Due: format

Migrate from React Hook Forms to Conform for better React Router ecosystem alignment
  apps/console/package.json
  bun.lock
  packages/ui/package.json
  packages/ui/src/_shadcn/ui/form.tsx
  packages/ui/src/components/Form.tsx
  packages/ui/src/components/Select.tsx
Due: format, lint

Update bun.lock
  bun.lock
Due: none

First pass moving from rhf to conform
  apps/console/app/routes/_shell.agent.$slug.settings/danger-zone.tsx
  apps/console/app/routes/_shell.agent.create/form.tsx
  packages/ui/src/components/Form.tsx
  packages/ui/src/components/Select.tsx
Due: format, lint

Remove skip of ctrl i shortcut when in other input.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Update clean command for aikit-ui to match ui.
  packages/aikit-ui/package.json
Due: format

Remove _shadcn from aikit-ui exports.
  packages/aikit-ui/package.json
Due: format

Copy avatar, button, select and textarea from aikit-ui/_shadcn and add them to ui/_shadcn and update imports in ui to use in-package components.
  packages/ui/src/_shadcn/ui/avatar.tsx
  packages/ui/src/_shadcn/ui/button.tsx
  packages/ui/src/_shadcn/ui/select.tsx
  packages/ui/src/_shadcn/ui/sidebar.tsx
  packages/ui/src/_shadcn/ui/textarea.tsx
  packages/ui/src/components/Avatar.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Select.tsx
Due: format, lint

Remove aikit-ui from ui peerDeps.
  packages/ui/package.json
Due: format

Update lockfile.
  bun.lock
Due: none

Adopt WinterTC API standard
  bun.lock
  packages/aikit-respond-io/README.md
  packages/aikit-respond-io/package.json
  packages/aikit-respond-io/src/agent/index.ts
  packages/aikit-respond-io/src/api/errors.ts
  packages/aikit-respond-io/src/api/index.ts
  packages/aikit-respond-io/src/index.ts
  packages/aikit-respond-io/src/webhook/index.ts
  packages/aikit-respond-io/src/webhook/types.ts
Due: format, lint

address coderabbit comments
  packages/aikit-respond-io/README.md
  packages/aikit-respond-io/src/agent/index.ts
  packages/aikit-respond-io/src/api/errors.ts
  packages/aikit-respond-io/src/webhook/index.ts
  packages/aikit-respond-io/src/webhook/types.ts
  packages/aikit-respond-io/src/webhook/utils.ts
Due: format, lint

Few tweaks to the form behavior
  apps/console/app/routes/_shell.agent.$slug._index/api-key.tsx
  apps/console/app/routes/_shell.agent.$slug.settings/danger-zone.tsx
  apps/console/app/routes/_shell.agent.$slug.settings/general.tsx
  apps/console/app/routes/_shell.agent.create/form.tsx
  packages/ui/src/components/Form.tsx
  packages/ui/src/components/Input.tsx
Due: format, lint

Remove unused imports
  apps/console/app/routes/_shell.agent.create/form.tsx
Due: format, lint

Fix API key generation
  apps/console/app/routes/_shell.agent.$slug._index/api-key.tsx
  packages/ui/src/components/Input.tsx
Due: format, lint

Fix button styling issues
  apps/console/app/routes/_auth.signin/route.tsx
  apps/console/app/routes/_shell.agent.$slug._index/api-key.tsx
  packages/ui/src/components/Button.tsx
Due: format, lint

Streamlining style handling for forms
  apps/console/app/routes/_auth.signin/route.tsx
  apps/console/app/routes/_shell.agent.$slug.settings/danger-zone.tsx
  apps/console/app/routes/_shell.agent.$slug.settings/general.tsx
  apps/console/app/routes/_shell.agent.$slug.settings/route.tsx
  apps/console/app/routes/_shell.agent.$slug/route.tsx
  apps/console/app/routes/_shell.agent.create/form.tsx
  apps/console/app/styles/stack.css
  apps/console/app/styles/tailwind.css
  packages/ui/src/_mintlify/code/CodeBlock.tsx
  packages/ui/src/_mintlify/code/CodeGroup.tsx
  packages/ui/src/components/Card.tsx
  packages/ui/src/components/Dialog.tsx
  packages/ui/src/components/Form.tsx
  packages/ui/src/components/Select.tsx
Due: format, lint

CodeRabbit fixes
  apps/console/app/routes/_shell.agent.$slug.settings/danger-zone.tsx
  apps/console/app/routes/_shell.agent.create/form.tsx
  apps/console/app/styles/tailwind.css
  packages/ui/src/components/Dialog.tsx
  packages/ui/src/components/Form.tsx
  packages/ui/src/components/Select.tsx
Due: format, lint

CodeRabbit nitpicks
  apps/console/app/routes/_shell.agent.$slug._index/api-key.tsx
  apps/console/app/routes/_shell.agent.$slug.settings/danger-zone.tsx
  apps/console/app/routes/_shell.agent.$slug.settings/general.tsx
  apps/console/app/routes/_shell.agent.create/form.tsx
  packages/ui/src/_mintlify/code/CodeBlock.tsx
  packages/ui/src/components/Button.tsx
Due: format, lint

Fix accidental typo
  apps/console/app/styles/stack.css
Due: format

Update component.json to use relative imports.
  packages/aikit-ui/components.json
Due: format

Use proper relative imports.
  packages/aikit-ui/components.json
Due: format

Remove unused textarea component from ui package.
  packages/ui/src/_shadcn/ui/textarea.tsx
Due: format, lint

Add modification notes into _mintlify LICENSE
  packages/ui/src/_mintlify/LICENSE
Due: none

Move _mintlify/code into /components/code since (i) they have been significantly modified (ii) origin is not maintained anymore. Preserve LICENSE file.
  apps/console/app/mdx-components.tsx
  packages/ui/src/components/Input.tsx
  packages/ui/src/components/code/CodeBlock.tsx
  packages/ui/src/components/code/CodeGroup.tsx
  packages/ui/src/components/code/CopyToClipboardButton.tsx
  packages/ui/src/components/code/LICENSE
  packages/ui/src/components/code/utils/copyToClipboard.ts
  packages/ui/src/components/code/utils/delay.ts
  packages/ui/src/components/code/utils/getNodeText.ts
Due: format, lint

getNodeText: Follow eslint style guides
  packages/ui/src/components/code/utils/getNodeText.ts
Due: format, lint

remove bunx from scripts
  .github/workflows/deploy.yml
  README.md
  apps/api/package.json
  apps/console/package.json
  apps/gateway/package.json
  package.json
  packages/aikit-respond-io/package.json
  packages/db/package.json
  packages/ui/package.json
Due: format

Remove unused module
  packages/ui/src/components/code/utils/delay.ts
Due: format, lint

add and document sst:synth script
  README.md
  infra/README.md
  infra/stacks/gateway.ts
  package.json
Due: format, lint

add and document deploy script
  .github/workflows/deploy.yml
  README.md
  infra/README.md
  package.json
Due: format

fix bun script documentation
  README.md
  apps/api/README.md
  infra/README.md
Due: format

update bun command
  .github/workflows/deploy.yml
Due: format

move secrets to common file
  infra/stacks/api.ts
  infra/stacks/db.ts
  infra/stacks/gateway.ts
  infra/stacks/secrets.ts
Due: format, lint

update console infra
  infra/stacks/app.ts
  infra/stacks/console.ts
  sst.config.ts
Due: format, lint

fix dockerfile
  infra/stacks/docker/Dockerfile.api
Due: none

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}
  lint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
