Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format:staged -- {staged_files} && git add {staged_files}

lint:
  run: bun run lint:staged -- {staged_files} && git add {staged_files}

Revert last CodeRabbit fix
  apps/api/src/utils/schema-factory.ts
  apps/app/src/lib/data.ts
  bun.lock
Due: format, lint

Remove rebase artifcat
  apps/api/src/routes/agents.ts
Due: format, lint

Revert accidental schema-factory changes
  apps/api/src/utils/schema-factory.ts
Due: format, lint

Fix build after merge
  bun.lock
Due: none

Minimal schema factory with localized t.Omit use
  apps/api/src/routes/agents.ts
  apps/api/src/routes/branches.ts
  apps/api/src/utils/schema-factory.ts
Due: format, lint

Address most of the remaining eslint warnings
  apps/app/src/app/(shell)/settings/page.tsx
  apps/app/src/app/layout.tsx
  apps/app/src/app/not-found.tsx
  apps/app/src/components/MSWProvider.tsx
  apps/app/src/components/auth/AuthHandler.tsx
  apps/app/src/components/auth/AuthProvider.tsx
  apps/app/src/components/auth/UserButton.tsx
  apps/app/src/lib/auth/dummyAuth.ts
  apps/app/src/lib/auth/index.ts
  apps/app/src/stores/userStore.ts
  eslint.config.mjs
  packages/ui/src/components/Skeleton.tsx
  packages/ui/src/hooks/use-mobile.ts
  turbo.json
Due: format, lint

Enable eslint for apps/api and packages.db
  apps/api/package.json
  apps/api/src/middlewares/auth.ts
  eslint.config.mjs
  packages/db/drizzle.config.ts
  packages/db/package.json
  packages/db/utils.ts
Due: format, lint

Consistently exclude build output from dev tools
  .prettierignore
  eslint.config.mjs
  tsconfig.base.json
Due: format, lint

Fix build
  bun.lock
Due: none

Streamline naming convention for client-side state
  apps/app/src/app/(shell)/agent/[slug]/settings/danger.tsx
  apps/app/src/app/(shell)/agent/[slug]/settings/general.tsx
  apps/app/src/components/ui/AgentSelector.tsx
  apps/app/src/hooks/auth.ts
  apps/app/src/lib/auth/dummyAuth.ts
  apps/app/src/lib/auth/stackAuth.ts
  apps/app/src/state/auth.ts
  apps/app/src/state/shell.ts
Due: format, lint

Streamling naming conventino for auth modules
  apps/app/src/components/auth/AuthHandler.tsx
  apps/app/src/components/auth/AuthProvider.tsx
  apps/app/src/lib/auth/dummy-auth.ts
  apps/app/src/lib/auth/index.ts
  apps/app/src/lib/auth/stack-auth.ts
Due: format, lint

CodeRabbit fixes
  .prettierignore
  apps/app/src/app/layout.tsx
  apps/app/src/app/not-found.tsx
  apps/app/src/components/MSWProvider.tsx
  apps/app/src/components/auth/UserButton.tsx
  apps/app/src/components/ui/AgentSelector.tsx
  apps/app/src/hooks/auth.ts
  apps/app/src/lib/auth/dummy-auth.ts
  apps/app/src/lib/auth/index.ts
  apps/app/src/lib/auth/stack-auth.ts
  eslint.config.mjs
  turbo.json
Due: format, lint

CodeRabbit fixes
  apps/app/src/app/(shell)/agent/[slug]/settings/danger.tsx
  apps/app/src/app/layout.tsx
  apps/app/src/components/MSWProvider.tsx
  apps/app/src/components/ui/AgentSelector.tsx
  apps/app/src/lib/auth/dummy-auth.ts
Due: format, lint

Add one more FUTURE tag
  packages/ui/src/components/Button.tsx
Due: format, lint

Move FIXME to TODO
  packages/ui/src/_mintlify/code/CodeBlock.tsx
  packages/ui/src/_mintlify/code/CodeGroup.tsx
Due: format, lint

Small UI enhancements
  apps/app/src/app/(shell)/agent/[slug]/layout.tsx
  apps/app/src/app/(shell)/agent/[slug]/page.mdx
  apps/app/src/styles/tailwind.css
  lefthook.yml
Due: format, lint

Small UI enhancements
  apps/app/src/app/(shell)/agent/[slug]/page.mdx
  packages/ui/src/components/Input.tsx
Due: format, lint

Give sidebar trigger props for customizability.
  packages/aikit-ui/src/_shadcn/ui/sidebar.tsx
Due: format, lint

Improve playground sidebar.
  apps/app/src/app/(shell)/layout.tsx
Due: format, lint

Install groq ai sdk
  apps/app/package.json
  bun.lock
Due: format

Add proper sidebar.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Hook up to groq backend.
  apps/app/src/app/api/chat/route.ts
Due: format, lint

Update style of message container to match content.
  packages/aikit-ui/src/_ai-elements/message.tsx
Due: format, lint

Small UI enhacements
  apps/app/src/app/(shell)/layout.tsx
  apps/app/src/components/ui/AgentSelector.tsx
  apps/app/src/components/ui/Logo.tsx
Due: format, lint

CodeRabbit fixes
  apps/app/src/app/(shell)/agent/[slug]/page.mdx
  lefthook.yml
Due: format

Fix compile
  bun.lock
Due: none

move shared-data
  apps/app/next.config.ts
  apps/app/package.json
  apps/app/src/app/(shell)/agent/create/form.tsx
  bun.lock
  packages/shared-data/models.schema.json
  packages/shared-data/package.json
  packages/shared-data/supported-models.json
  packages/shared-data/tsconfig.json
  tsconfig.base.json
Due: format, lint

move json files into json folder
  packages/shared-data/json/models.schema.json
  packages/shared-data/json/supported-models.json
  packages/shared-data/package.json
Due: format

omit agentSlug
  apps/api/src/routes/branches.ts
Due: format, lint

Convert /agent/create form to use ShadCN form component
  apps/app/package.json
  apps/app/src/app/(shell)/agent/create/form.tsx
  bun.lock
  packages/ui/package.json
  packages/ui/src/_shadcn/ui/form.tsx
  packages/ui/src/components/Form.tsx
Due: format, lint

Use ShadCN form for deleting agents
  apps/app/package.json
  apps/app/src/app/(shell)/agent/[slug]/settings/danger.tsx
  bun.lock
Due: format, lint

CodeRabbit fixes
  apps/app/src/app/(shell)/agent/create/form.tsx
Due: format, lint

Avoid "as any"
  apps/app/src/app/(shell)/agent/[slug]/settings/danger.tsx
  apps/app/src/app/(shell)/agent/create/form.tsx
Due: format, lint

CodeRabbit fix
  apps/app/src/app/(shell)/agent/[slug]/settings/danger.tsx
Due: format, lint

Basic React Router scaffold
  .gitignore
  .prettierignore
  apps/console/app/root.tsx
  apps/console/app/routes.ts
  apps/console/app/routes/_index.tsx
  apps/console/app/styles/global.css
  apps/console/app/styles/stack.css
  apps/console/app/styles/tailwind.css
  apps/console/package.json
  apps/console/public/hebo-icon.png
  apps/console/public/login-bg.png
  apps/console/public/mockServiceWorker.js
  apps/console/react-router.config.ts
  apps/console/tsconfig.json
  apps/console/vite.config.ts
  bun.lock
  eslint.config.mjs
  package.json
  tsconfig.base.json
Due: format, lint

Fix bun.lock after rebase
  bun.lock
Due: none

Add additional dependencies
  apps/console/app/styles/global.css
  apps/console/app/styles/stack.css
  apps/console/app/styles/tailwind.css
  apps/console/package.json
  apps/console/public/hebo-icon.png
  apps/console/public/login-bg.png
  apps/console/public/mockServiceWorker.js
  bun.lock
Due: format, lint

Disable lint for old NextJS app
  apps/app/package.json
Due: format

Port eslint.config from Next to plain React
  bun.lock
  eslint.config.mjs
  package.json
Due: format, lint

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}
  lint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
