Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format:staged -- {staged_files} && git add {staged_files}

lint:
  run: bun run lint:staged -- {staged_files} && git add {staged_files}

Use folder based exports to support TS module resolution
  apps/console/package.json
  bun.lock
  package.json
  packages/db/package.json
  packages/shared-api/package.json
  packages/shared-data/package.json
  packages/ui/package.json
Due: format

Fix IntelliSense for API
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/tsconfig.json
  apps/console/package.json
  apps/console/tsconfig.json
  apps/console/vite.config.ts
  bun.lock
Due: format, lint

Update bun.lock
  bun.lock
Due: none

Add export for hooks
  packages/ui/package.json
Due: format

Sort exports alphabetically
  packages/ui/package.json
Due: format

Export DB schema
  packages/db/package.json
Due: format

Add peerDepencies from @hebo/ui to dependencies in @hebo/console
  apps/console/package.json
  bun.lock
Due: format

Introduce "~" alias to packages/ui
  packages/ui/components.json
  packages/ui/src/_mintlify/code/CodeBlock.tsx
  packages/ui/src/_mintlify/code/CodeGroup.tsx
  packages/ui/src/_mintlify/code/CopyToClipboardButton.tsx
  packages/ui/src/_shadcn/ui/alert.tsx
  packages/ui/src/_shadcn/ui/avatar.tsx
  packages/ui/src/_shadcn/ui/badge.tsx
  packages/ui/src/_shadcn/ui/button.tsx
  packages/ui/src/_shadcn/ui/card.tsx
  packages/ui/src/_shadcn/ui/dialog.tsx
  packages/ui/src/_shadcn/ui/dropdown-menu.tsx
  packages/ui/src/_shadcn/ui/form.tsx
  packages/ui/src/_shadcn/ui/input.tsx
  packages/ui/src/_shadcn/ui/label.tsx
  packages/ui/src/_shadcn/ui/select.tsx
  packages/ui/src/_shadcn/ui/separator.tsx
  packages/ui/src/_shadcn/ui/sheet.tsx
  packages/ui/src/_shadcn/ui/sidebar.tsx
  packages/ui/src/_shadcn/ui/skeleton.tsx
  packages/ui/src/_shadcn/ui/tooltip.tsx
  packages/ui/src/components/Alert.tsx
  packages/ui/src/components/Avatar.tsx
  packages/ui/src/components/Badge.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Card.tsx
  packages/ui/src/components/Dialog.tsx
  packages/ui/src/components/DropdownMenu.tsx
  packages/ui/src/components/Form.tsx
  packages/ui/src/components/Input.tsx
  packages/ui/src/components/Label.tsx
  packages/ui/src/components/Select.tsx
  packages/ui/src/components/Sidebar.tsx
  packages/ui/src/components/Skeleton.tsx
  packages/ui/tsconfig.json
Due: format, lint

Remove unused imports from package.json
  packages/db/package.json
Due: format

Promote verbatimModuleSyntax to tsconfig.base.json
  apps/api/tsconfig.json
  apps/console/tsconfig.json
  tsconfig.base.json
Due: format

Tsconfig.base.json cleanups
  tsconfig.base.json
Due: format

add missing type
  packages/aikit-respond-io/src/webhook/types.ts
Due: format, lint

update README.md
  packages/aikit-respond-io/README.md
Due: format

rename module and update exports
  packages/aikit-respond-io/README.md
  packages/aikit-respond-io/package.json
  packages/aikit-respond-io/src/api/errors.ts
  packages/aikit-respond-io/src/api/index.ts
  packages/aikit-respond-io/src/api/types.ts
  packages/aikit-respond-io/src/index.ts
Due: format, lint

Fix import order with new aliases
  apps/api/src/middlewares/agent-id.ts
  apps/api/src/modules/agents/model.ts
  apps/api/src/modules/agents/service.ts
  apps/api/src/modules/branches/index.ts
  apps/api/src/modules/branches/model.ts
  apps/api/src/modules/branches/service.ts
  eslint.config.mjs
Due: format, lint

Fix comonent.json with new internal alias
  packages/ui/components.json
Due: format

fix bun run build
  bun.lock
  packages/aikit-respond-io/package.json
  packages/aikit-respond-io/src/api/errors.ts
  packages/aikit-respond-io/src/api/index.ts
  packages/aikit-respond-io/src/webhook/errors.ts
  packages/aikit-respond-io/src/webhook/index.ts
  packages/aikit-respond-io/tsconfig.json
Due: format, lint

Update packages/aikit-respond-io/package.json
  packages/aikit-respond-io/package.json
Due: format

Update packages/aikit-respond-io/src/api/errors.ts
  packages/aikit-respond-io/src/api/errors.ts
Due: format, lint

Update packages/aikit-respond-io/src/webhook/index.ts
  packages/aikit-respond-io/src/webhook/index.ts
Due: format, lint

fix the build
  packages/aikit-respond-io/package.json
  packages/aikit-respond-io/src/api/index.ts
  packages/aikit-respond-io/tsconfig.json
Due: format, lint

Update packages/aikit-respond-io/src/api/index.ts
  packages/aikit-respond-io/src/api/index.ts
Due: format, lint

amend README.md
  packages/aikit-respond-io/README.md
Due: format

some groundwork for AI interface
  packages/aikit-respond-io/src/agent/actions.ts
  packages/aikit-respond-io/src/agent/index.ts
  packages/aikit-respond-io/src/agent/triggers.ts
  packages/aikit-respond-io/src/agent/types.ts
  packages/aikit-respond-io/src/index.ts
  packages/aikit-respond-io/src/webhook/index.ts
  packages/aikit-respond-io/src/webhook/types.ts
Due: format, lint

address davide comments for package.json
  bun.lock
  packages/aikit-respond-io/package.json
Due: format

Use relative imports within packages
  packages/shared-api/tsconfig.json
  packages/shared-data/tsconfig.json
  packages/ui/components.json
  packages/ui/src/_mintlify/code/CodeBlock.tsx
  packages/ui/src/_mintlify/code/CodeGroup.tsx
  packages/ui/src/_mintlify/code/CopyToClipboardButton.tsx
  packages/ui/src/_shadcn/ui/alert.tsx
  packages/ui/src/_shadcn/ui/avatar.tsx
  packages/ui/src/_shadcn/ui/badge.tsx
  packages/ui/src/_shadcn/ui/button.tsx
  packages/ui/src/_shadcn/ui/card.tsx
  packages/ui/src/_shadcn/ui/dialog.tsx
  packages/ui/src/_shadcn/ui/dropdown-menu.tsx
  packages/ui/src/_shadcn/ui/form.tsx
  packages/ui/src/_shadcn/ui/input.tsx
  packages/ui/src/_shadcn/ui/label.tsx
  packages/ui/src/_shadcn/ui/select.tsx
  packages/ui/src/_shadcn/ui/separator.tsx
  packages/ui/src/_shadcn/ui/sheet.tsx
  packages/ui/src/_shadcn/ui/sidebar.tsx
  packages/ui/src/_shadcn/ui/skeleton.tsx
  packages/ui/src/_shadcn/ui/tooltip.tsx
  packages/ui/src/components/Alert.tsx
  packages/ui/src/components/Avatar.tsx
  packages/ui/src/components/Badge.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Card.tsx
  packages/ui/src/components/Dialog.tsx
  packages/ui/src/components/DropdownMenu.tsx
  packages/ui/src/components/Form.tsx
  packages/ui/src/components/Input.tsx
  packages/ui/src/components/Label.tsx
  packages/ui/src/components/Select.tsx
  packages/ui/src/components/Sidebar.tsx
  packages/ui/src/components/Skeleton.tsx
  packages/ui/tsconfig.json
Due: format, lint

Fix type imports for verbatimModuleSyntax: true
  packages/ui/src/_mintlify/code/CodeBlock.tsx
  packages/ui/src/_mintlify/code/CodeGroup.tsx
  packages/ui/src/_mintlify/code/CopyToClipboardButton.tsx
  packages/ui/src/_shadcn/ui/sidebar.tsx
Due: format, lint

Update comment in eslint.config.mjs
  eslint.config.mjs
Due: lint

Use relative paths for /packages/
  packages/db/tsconfig.json
Due: format

revert infra changes regarding formatting
  infra/stacks/api.ts
  infra/stacks/gateway.ts
Due: format, lint

Remove extra useEffect and remoed global keyDown handler.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Reverted style of main component and removed flex-col to address extra scrollable gap.
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

Update lockfile.
  bun.lock
Due: none

Remove unused accessibility ref.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

fix build error
  packages/aikit-respond-io/package.json
  packages/aikit-respond-io/src/webhook/utils.ts
  packages/aikit-respond-io/tsconfig.json
Due: format, lint

Move fetch configuration from sidebar-playground to Chat.tsx
  apps/console/app/routes/_shell/sidebar-playground.tsx
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

simplify agent implementation
  packages/aikit-respond-io/README.md
  packages/aikit-respond-io/src/agent/actions.ts
  packages/aikit-respond-io/src/agent/index.ts
  packages/aikit-respond-io/src/agent/triggers.ts
  packages/aikit-respond-io/src/agent/types.ts
  packages/aikit-respond-io/src/api/errors.ts
  packages/aikit-respond-io/src/api/index.ts
  packages/aikit-respond-io/src/api/types.ts
  packages/aikit-respond-io/src/index.ts
Due: format, lint

Use globalKeyDown handling for cmd + i accessibility shortcut.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}
  lint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
