Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format:staged -- {staged_files} && git add {staged_files}

lint:
  run: bun run lint:staged -- {staged_files} && git add {staged_files}

Fix dependency misplacement issue.
  bun.lock
  packages/aikit-ui/package.json
Due: format

Add full keyboard accessibility and shortcuts.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Commit initial files.
  infra/stacks/build-clickhouse/Dockerfile
  infra/stacks/build-clickhouse/storage_config.xml
Due: none

reduce payload for agentId middleware
  apps/api/src/middlewares/agent-id.ts
Due: format, lint

update TODOs unrelated to this PR to FUTUREs
  apps/api/src/middlewares/user-id.ts
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/agents/service.ts
  apps/api/src/modules/branches/index.ts
  packages/db/audit-utils.ts
Due: format, lint

add indexes
  packages/db/migrations/0001_add_indexes.sql
  packages/db/migrations/meta/0001_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/schema/agents.ts
  packages/db/schema/branches.ts
Due: format, lint

retrieve db from context from agentId plugin
  apps/api/src/middlewares/agent-id.ts
Due: format, lint

coderabbit comments
  apps/api/src/modules/agents/service.ts
  apps/api/src/utils/request-db.ts
Due: format, lint

avoid rely on this
  packages/db/audit-utils.ts
Due: format, lint

make supported model list appear on swagger
  apps/api/src/modules/agents/model.ts
  apps/api/src/modules/agents/service.ts
Due: format, lint

CodeRabbit nitpicks
  packages/db/audit-utils.ts
  packages/db/schema/branches.ts
Due: format, lint

Playground icon nicer hover.
  apps/console/app/routes/_shell/route.tsx
  packages/ui/src/_shadcn/ui/sidebar.tsx
Due: format, lint

Reflect proper chat bubble colors.
  packages/aikit-ui/src/_ai-elements/message.tsx
Due: format, lint

coderabbit nitpick
  apps/api/src/middlewares/agent-id.ts
Due: format, lint

move withRequestTransaction within the service scope
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/agents/service.ts
  apps/api/src/utils/request-db.ts
Due: format, lint

improve exports from the DB package
  apps/api/src/modules/agents/service.ts
  apps/api/src/modules/branches/service.ts
  bun.lock
  packages/db/drizzle.config.ts
  packages/db/drizzle.ts
  packages/db/package.json
  packages/db/runtime-config.ts
  packages/db/tsconfig.build.json
  packages/db/tsconfig.types.json
  packages/db/utils/with-audit.ts
Due: format, lint

fix cicd lint error
  tsconfig.base.json
  turbo.json
Due: format

update lockfile
  bun.lock
Due: none

remove unused types from service models
  apps/api/src/modules/agents/model.ts
  apps/api/src/modules/branches/model.ts
  bun.lock
Due: format, lint

fix relative position of local db
  packages/db/package.json
  packages/db/runtime-config.ts
Due: format, lint

improve clarity for the in request transaction helper
  apps/api/src/modules/agents/service.ts
  apps/api/src/utils/request-db.ts
Due: format, lint

remove build step from package db
  bun.lock
  packages/db/package.json
  tsconfig.base.json
  turbo.json
Due: format

make type more narrow
  apps/api/src/modules/agents/model.ts
Due: format, lint

add comment for clarity
  apps/api/src/utils/request-db.ts
Due: format, lint

remove typo from TableWithAudit type
  packages/db/utils/with-audit.ts
Due: format, lint

remove build step config files
  packages/db/tsconfig.build.json
  packages/db/tsconfig.types.json
Due: format

improve clarity
  apps/api/src/middlewares/user-id.ts
  apps/api/src/utils/request-db.ts
  packages/db/utils/with-audit.ts
Due: format, lint

OpenAI-compatible AI Gateway using Vercel AI SDK
  apps/gateway/.env.example
  apps/gateway/package.json
  apps/gateway/src/index.ts
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/modules/embeddings.ts
  apps/gateway/src/modules/models.ts
  apps/gateway/tsconfig.json
  bun.lock
Due: format, lint

Remove groq provider and replace with openai provider.
  bun.lock
  packages/aikit-ui/package.json
Due: format

Add baseUrl prop to <Chat/>
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Remove vite-env to address sepearation of concerns.
  packages/aikit-ui/src/vite-env.d.ts
Due: format, lint

Use change provider to use completions endpoint.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Removed excessive useCallBack usage.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Add logger
  apps/gateway/package.json
  apps/gateway/src/index.ts
  bun.lock
Due: format, lint

Add logger #2
  apps/gateway/package.json
  bun.lock
Due: format

CodeRabbit nitpicks
  apps/gateway/package.json
  apps/gateway/src/modules/completions.ts
Due: format, lint

CodeRabbit nitpicks
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/modules/embeddings.ts
  apps/gateway/src/modules/models.ts
Due: format, lint

Voyage only supports strings
  apps/gateway/src/modules/embeddings.ts
Due: format, lint

CodeRabbit nitpicks
  apps/gateway/package.json
  apps/gateway/src/index.ts
  apps/gateway/src/modules/completions.ts
Due: format, lint

TypeScript nitpick
  apps/gateway/src/modules/completions.ts
  bun.lock
Due: format, lint

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}
  lint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
