Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}"
      run: bun run format:staged -- {staged_files} && git add {staged_files}

    lint:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs}"
      run: bun run lint:staged -- {staged_files} && git add {staged_files}

Prettier: ignore vendor folders
  .gitignore
  .prettierignore
Due: none

ESLint: Add rule for nameComponents (functions) and unnamedComponents (arrow-function)
  bun.lock
  eslint.config.mjs
  package.json
Due: format, lint

Add eslint plugins for local eslint to be closer to CodeRabbit
  apps/app/package.json
  bun.lock
  eslint.config.mjs
  lefthook.yml
  package.json
Due: format, lint

ESLint: Remove "react version can't be detected warning
  bun.lock
  package.json
Due: format

Eslint: temporary move errors to warnings until fixed
  bun.lock
  eslint.config.mjs
  package.json
Due: format, lint

ESLint: Allow warnings (at least for now)
  packages/ui/package.json
Due: format

Remove redundant .eslintcache entry in .gitignore
  .gitignore
Due: none

Fix Typo
  eslint.config.mjs
Due: lint

CodeRabbit fixes
  eslint.config.mjs
Due: lint

update lockfile
  bun.lock
Due: none

routes are there
  apps/api/package.json
  apps/api/src/api.ts
  apps/api/src/index.ts
  apps/api/src/middlewares/auth.ts
  apps/api/src/routes/agents.ts
  apps/api/src/routes/branches.ts
  apps/api/src/schema/agents.schemas.ts
  apps/api/src/schema/branches.schemas.ts
  bun.lock
  package.json
  packages/db/package.json
  packages/db/schema/branches.ts
  packages/db/utils.ts
Due: format, lint

remove catalog
  README.md
  apps/api/package.json
  bun.lock
  package.json
  packages/db/package.json
Due: format

remove api/schemas folder
  apps/api/src/schema/agents.schemas.ts
  apps/api/src/schema/branches.schemas.ts
Due: format, lint

coderabbit commets
  apps/api/src/index.ts
  apps/api/src/middlewares/auth.ts
  apps/api/src/routes/agents.ts
  apps/api/src/routes/branches.ts
  turbo.json
Due: format, lint

coderabbit comments
  apps/api/src/routes/agents.ts
  apps/api/src/routes/branches.ts
Due: format, lint

simplify port allocation
  apps/api/src/index.ts
  turbo.json
Due: format, lint

move method to increase readibility
  apps/api/src/middlewares/auth.ts
Due: format, lint

fail fast and explicit when keys are missing
  apps/api/src/middlewares/auth.ts
Due: format, lint

use type import for Models
  packages/db/schema/branches.ts
Due: format, lint

add todos
  apps/api/src/routes/agents.ts
  apps/api/src/routes/branches.ts
Due: format, lint

Used MSW Provider for mocking.
  apps/app/src/app/layout.tsx
Due: format, lint

Add miragejs ORM with license.
  apps/app/src/miragejs/orm/LICENSE.md
  apps/app/src/miragejs/orm/db/DB.ts
  apps/app/src/miragejs/orm/db/DbCollection.ts
  apps/app/src/miragejs/orm/db/IdentityManager.ts
  apps/app/src/miragejs/orm/db/NumberIdentityManager.ts
  apps/app/src/miragejs/orm/db/index.ts
  apps/app/src/miragejs/orm/factory/BaseFactory.ts
  apps/app/src/miragejs/orm/factory/Factory.ts
  apps/app/src/miragejs/orm/factory/index.ts
  apps/app/src/miragejs/orm/index.ts
  apps/app/src/miragejs/orm/inflector/Inflector.ts
  apps/app/src/miragejs/orm/inflector/index.ts
  apps/app/src/miragejs/orm/model/BaseModel.ts
  apps/app/src/miragejs/orm/model/List.ts
  apps/app/src/miragejs/orm/model/Model.ts
  apps/app/src/miragejs/orm/model/index.ts
  apps/app/src/miragejs/orm/registry/Registry.ts
  apps/app/src/miragejs/orm/registry/index.ts
  apps/app/src/miragejs/orm/schema/Schema.ts
  apps/app/src/miragejs/orm/schema/SchemaCollection.ts
  apps/app/src/miragejs/orm/schema/index.ts
  apps/app/src/miragejs/orm/utils/MirageError.ts
  apps/app/src/miragejs/orm/utils/index.ts
  apps/app/src/miragejs/orm/utils/string.ts
Due: format, lint

Rebase to latest main
  apps/app/package.json
Due: format

Add mockMode utility to determine if the application is in mock mode based on API URL availability
  apps/app/src/lib/utils.ts
Due: format, lint

Add mock service worker setup and database handlers for agent management
  apps/app/src/mocks/browser.ts
  apps/app/src/mocks/db.ts
  apps/app/src/mocks/handlers.ts
Due: format, lint

Add query client setup for React Query integration
  apps/app/src/lib/queryClient.ts
Due: format, lint

Added supported models config.
  apps/app/src/config/models.ts
Due: format, lint

Added mock service worker.
  apps/app/public/mockServiceWorker.js
Due: format, lint

Rebase to main
  apps/app/package.json
  apps/app/public/msw/mockServiceWorker.js
Due: format, lint

Add MSWProvider and ReactQueryProvider components for mock service worker and query management
  apps/app/src/components/MSWProvider.tsx
  apps/app/src/components/ReactQueryProvider.tsx
Due: format, lint

Add create agent UI components.
  apps/app/src/app/(shell)/create-agent/CreateAgentForm.tsx
  apps/app/src/app/(shell)/create-agent/page.tsx
Due: format, lint

Removed reactQueryProvider and used global singleton instead.
  apps/app/src/app/(shell)/create-agent/page.tsx
  apps/app/src/components/ReactQueryProvider.tsx
Due: format, lint

Rebase to main
  packages/ui/package.json
  packages/ui/src/_shadcn/ui/select.tsx
  packages/ui/src/components/Select.tsx
Due: format, lint

Seperate form action into seperate data module and abstract the data access logic into its own service layer logic.
  apps/app/src/app/(shell)/create-agent/CreateAgentForm.tsx
  apps/app/src/app/(shell)/create-agent/page.tsx
  apps/app/src/lib/data/agents.ts
  apps/app/src/lib/data/queryClient.ts
Due: format, lint

Move tailwind classes that position the form element to page.tsx.
  apps/app/src/app/(shell)/create-agent/CreateAgentForm.tsx
  apps/app/src/app/(shell)/create-agent/page.tsx
Due: format, lint

Update layout with Tailwind classes and update error message styling
  apps/app/src/app/(shell)/create-agent/CreateAgentForm.tsx
Due: format, lint

Remove error handling for mock API.
  apps/app/src/lib/data/agents.ts
Due: format, lint

Moved tailwind font related styles to the html element.
  apps/app/src/app/(shell)/create-agent/CreateAgentForm.tsx
  apps/app/src/styles/tailwind.css
Due: format, lint

Implemented select component from shadcn.
  apps/app/src/app/(shell)/create-agent/CreateAgentForm.tsx
Due: format, lint

Use grid layout for desktop layout.
  apps/app/src/app/(shell)/create-agent/CreateAgentForm.tsx
Due: format, lint
