Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}"
      run: bun run format:staged -- {staged_files} && git add {staged_files}

    lint:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs}"
      run: bun run lint:staged -- {staged_files} && git add {staged_files}

Revert sidebar to original state from shadcn.
  packages/ui/src/_shadcn/ui/sidebar.tsx
Due: format, lint

HEB-114 take access token from cookies
  apps/console/app/lib/data.ts
  packages/shared-api/auth/mode/stack-auth.ts
Due: format, lint

typo
  packages/shared-api/auth/mode/stack-auth.ts
Due: format, lint

Refactor and simplify code
  packages/aikit-respond/README.md
  packages/aikit-respond/src/index.ts
  packages/aikit-respond/src/types.ts
Due: format, lint

stack-access may be missing
  packages/shared-api/auth/mode/stack-auth.ts
Due: format, lint

rename bearer to apiKey for clarity
  packages/shared-api/auth/mode/stack-auth.ts
Due: format, lint

improve clarity
  packages/shared-api/auth/mode/stack-auth.ts
Due: format, lint

fix dependencies
  apps/gateway/package.json
  bun.lock
  packages/shared-api/package.json
Due: format

enchance clarity
  packages/shared-api/auth/mode/stack-auth.ts
Due: format, lint

add cors config to gateway as well
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/index.ts
  apps/gateway/.env.example
  apps/gateway/package.json
  apps/gateway/src/index.ts
  bun.lock
  infra/stacks/build-api/Dockerfile
  packages/shared-api/cors/cors-config.ts
  packages/shared-api/package.json
  packages/shared-api/tsconfig.json
Due: format, lint

Rename textAreaRef to promptInputTextAreaRef.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

make regex stricter
  packages/shared-api/cors/cors-config.ts
Due: format, lint

Refactor ModelsConfig type in Chat component to simplify structure and enhance clarity by using inline type definitions for model configurations.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

clean comments
  infra/stacks/build-api/Dockerfile
  packages/db/runtime-config.ts
Due: format, lint

fix start error
  apps/api/package.json
Due: format

make env variable example consistent
  apps/api/.env.example
  apps/gateway/.env.example
Due: none

clarity on example env files
  apps/api/.env.example
  apps/gateway/.env.example
Due: none

keep logical order rather than alphabetical
  apps/api/.env.example
Due: none

update clean command
  apps/api/package.json
  apps/gateway/package.json
  bun.lock
  turbo.json
Due: format

Use AuthService pattern
  apps/api/src/index.ts
  apps/api/src/middlewares/agent-id.ts
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/branches/index.ts
  apps/gateway/src/index.ts
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/modules/embeddings.ts
  apps/gateway/src/modules/models.ts
  packages/shared-api/auth/auth-service.ts
  packages/shared-api/auth/authenticate-user.ts
  packages/shared-api/auth/mode/localhost.ts
  packages/shared-api/auth/mode/stack-auth.ts
Due: format, lint

Set of minor code cleanups
  packages/shared-api/auth/auth-service.ts
  packages/shared-api/auth/localhost.ts
  packages/shared-api/auth/stack-auth.ts
  packages/shared-api/package.json
Due: format, lint

Remove FUTURE that has been addressed
  apps/console/app/lib/data.ts
Due: format, lint

Chores
  apps/api/src/index.ts
  apps/gateway/src/index.ts
Due: format, lint

Chores
  packages/shared-api/auth/stack-auth.ts
Due: format, lint

Fix build errors
  apps/api/package.json
  apps/api/src/index.ts
  bun.lock
Due: format, lint

Fix build after "bun clean; bun install"; Remove unused sqlite driver.
  apps/api/package.json
  bun.lock
  packages/db/package.json
Due: format

Remove unused tsconfig for types
  apps/api/tsconfig.types.json
Due: format

Move ElysiaJS build into dist folder
  apps/api/package.json
  apps/gateway/package.json
Due: format

Use wildcard export for DB package
  apps/api/src/utils/request-db.ts
  packages/db/package.json
Due: format, lint

Bump Elysia version
  apps/api/package.json
  apps/gateway/package.json
  bun.lock
  packages/shared-api/package.json
Due: format

Upgrade to Vite 7 and align TS target
  apps/console/package.json
  bun.lock
  tsconfig.base.json
Due: format

clean up data types
  packages/aikit-respond/README.md
  packages/aikit-respond/src/index.ts
  packages/aikit-respond/src/types.ts
Due: format, lint

Readd accidentally removed ReturnValue
  apps/api/src/index.ts
Due: format, lint

Implemented custom SidebarProvider and SidebarTrigger. Added components that use useSidebar internally and exported them.
  packages/ui/src/components/Sidebar.tsx
Due: format, lint

Readd accidentally removed ReturnType
  apps/api/src/index.ts
Due: format, lint

update README.md
  packages/aikit-respond/README.md
  packages/aikit-respond/package.json
Due: format

fix readme format
  packages/aikit-respond/README.md
Due: format

fix agent id middleware
  apps/api/src/middlewares/agent-id.ts
Due: format, lint

import auth dynamically
  packages/shared-api/auth/auth-service.ts
Due: format, lint
