Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format:staged -- {staged_files} && git add {staged_files}

lint:
  run: bun run lint:staged -- {staged_files} && git add {staged_files}

Add comment
  packages/database/prisma/migrations/20251011041744_db_init/migration.sql
Due: none

move all shared-api single file folder into middlewares folder
  apps/api/src/index.ts
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  apps/gateway/src/index.ts
  packages/shared-api/middlewares/auth/auth-service.ts
  packages/shared-api/middlewares/auth/localhost.ts
  packages/shared-api/middlewares/auth/stack-auth.ts
  packages/shared-api/middlewares/cors-config.ts
  packages/shared-api/middlewares/db-client.ts
  packages/shared-api/middlewares/prisma-errors.ts
  packages/shared-api/package.json
Due: format, lint

be consistent
  apps/gateway/src/middlewares/oai-errors.ts
  packages/shared-api/middlewares/prisma-errors.ts
Due: format, lint

remove unused type cast
  apps/api/src/modules/branches.ts
Due: format, lint

add comment
  packages/shared-api/middlewares/db-client.ts
Due: format, lint

remove elysia dep from database
  .dockerignore
  .gitignore
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  bun.lock
  packages/database/package.json
  packages/database/prisma/schema.prisma
Due: format, lint

remove unused type
  apps/api/src/modules/agents.ts
Due: format, lint

remove partial index from branches table
  packages/database/prisma/migrations/20251015033058_db_init/migration.sql
  packages/database/prisma/schema.prisma
Due: none

update models.schema.json
  apps/console/app/routes/_shell/sidebar-playground.tsx
  packages/aikit-ui/src/blocks/Chat.tsx
  packages/shared-data/json/__supportedTypes.schema.json
  packages/shared-data/json/models.schema.json
Due: format, lint

typo
  packages/shared-data/json/models.schema.json
Due: format

v0.0.2
  package.json
Due: none

fix cicd
  .github/workflows/deploy.yml
Due: format

restore previous working deploy workflow
  .github/workflows/deploy.yml
Due: format

chores
  apps/gateway/src/middlewares/oai-errors.ts
  apps/gateway/src/middlewares/provider.ts
Due: format, lint

move modelsSchema type to shared-api
  apps/api/package.json
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  packages/shared-api/package.json
  packages/shared-api/types.ts
Due: format, lint

gateway accepts modelAliases
  apps/gateway/package.json
  apps/gateway/src/middlewares/oai-errors.ts
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/modules/embeddings.ts
  apps/gateway/src/utils/get-model-id.ts
  bun.lock
Due: format, lint

make get model id more compact
  apps/gateway/src/utils/get-model-id.ts
  packages/shared-api/types.ts
Due: format, lint

update fe to send full aliases instead of types
  apps/console/app/routes/_shell/sidebar-playground.tsx
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

improve variable names
  apps/gateway/src/utils/get-model-id.ts
Due: format, lint

remove unnecessary optional
  packages/shared-api/types.ts
Due: format, lint

improve naming
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  apps/gateway/src/middlewares/oai-errors.ts
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/modules/embeddings.ts
  apps/gateway/src/utils/get-model-type.ts
  packages/shared-api/package.json
  packages/shared-api/schemas/branch-models.ts
Due: format, lint

select only models
  apps/gateway/src/utils/get-model-type.ts
Due: format, lint

update console mock
  apps/console/app/mocks/agents.ts
  apps/console/app/mocks/db.ts
Due: format, lint

v0.0.3
  package.json
Due: none

Update Hebo Icon
  apps/console/public/hebo-icon.png
Due: none

feat(web): Initial structure
  apps/web/public/favicon.svg
  apps/web/public/icon.png
  apps/web/src/layouts/root.astro
  apps/web/src/pages/index.astro
Due: none

fix models type
  apps/api/src/modules/agents.ts
  apps/console/package.json
  bun.lock
  packages/shared-api/schemas/branch-models.ts
Due: format, lint

move models types and definitions into shared-types
  apps/api/package.json
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  apps/gateway/package.json
  apps/gateway/src/utils/get-model-type.ts
  bun.lock
  packages/shared-types/models.ts
  packages/shared-types/package.json
  packages/shared-types/tsconfig.json
Due: format, lint

move models types into shared data
  apps/api/package.json
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  apps/gateway/package.json
  apps/gateway/src/utils/get-model-type.ts
  bun.lock
  packages/shared-data/package.json
  packages/shared-data/types/models.ts
  packages/shared-types/models.ts
  packages/shared-types/package.json
  packages/shared-types/tsconfig.json
Due: format, lint

add support for amazon bedrock openai oss models
  .github/workflows/deploy.yml
  README.md
  apps/gateway/.env.example
  apps/gateway/package.json
  apps/gateway/src/middlewares/provider.ts
  bun.lock
  infra/stacks/env.ts
  packages/shared-data/json/supported-models.json
Due: format, lint

add support for bedrock and vertex models
  .github/workflows/deploy.yml
  README.md
  apps/gateway/.env.example
  apps/gateway/package.json
  apps/gateway/src/middlewares/oai-errors.ts
  apps/gateway/src/middlewares/provider.ts
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/modules/embeddings.ts
  apps/gateway/src/utils/get-model-object.ts
  bun.lock
  infra/stacks/env.ts
  packages/shared-data/json/models.schema.json
  packages/shared-data/json/supported-models.json
  packages/shared-data/types/models.ts
Due: format, lint

hide sensitive values from public client
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  bun.lock
  packages/database/client.ts
  packages/database/package.json
  packages/database/prisma/schema.prisma
  packages/shared-api/middlewares/auth/stack-auth.ts
  packages/shared-api/middlewares/db-client.ts
Due: format, lint

update readme
  README.md
Due: none

revert change
  apps/gateway/src/middlewares/provider.ts
Due: format, lint

chores
  apps/gateway/.env.example
Due: none

keep secret naming consistent
  infra/stacks/env.ts
  packages/shared-data/json/models.schema.json
Due: format, lint

baseUrl is not required
  packages/shared-data/json/models.schema.json
Due: format

update json schema to accept any model type
  packages/shared-data/json/__supportedTypes.schema.json
  packages/shared-data/json/models.schema.json
Due: format

be consistent
  README.md
Due: none

keep redacted fields on copy branch operation
  apps/api/src/modules/branches.ts
  packages/database/client.ts
Due: format, lint

Path conditions:
  format: any of: **/*.{js,jsx,ts,tsx,json,jsonc,md,mdx,css,html,yaml,yml,toml}
  lint: any of: **/*.{ts,tsx,js,jsx,mjs,cjs}
