Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format:staged -- {staged_files} && git add {staged_files}

lint:
  run: bun run lint:staged -- {staged_files} && git add {staged_files}

add todo
  apps/api/src/middlewares/audit-fields.ts
  apps/api/src/modules/agents/service.ts
  apps/api/src/modules/branches/service.ts
Due: format, lint

reduce duplication on error codes
  apps/api/src/modules/agents/service.ts
  apps/api/src/modules/branches/service.ts
Due: format, lint

Change chat state management to valtio.
  bun.lock
  packages/aikit-ui/package.json
  packages/aikit-ui/src/blocks/Chat.tsx
  packages/aikit-ui/src/hooks/use-chat.ts
  packages/aikit-ui/src/types/chat.ts
Due: format, lint

Fix UI bug.
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

make accept the client the default from the request context
  apps/api/src/index.ts
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/agents/service.ts
  apps/api/src/modules/branches/index.ts
  apps/api/src/modules/branches/service.ts
Due: format, lint

import type
  apps/api/src/modules/agents/service.ts
Due: format, lint

Align contract between FE and BE
  apps/console/app/routes/_shell._index/route.tsx
  apps/console/app/routes/_shell.agent.$slug.settings/route.tsx
  apps/console/app/routes/_shell.agent.create/route.tsx
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

document DB clean
  README.md
  packages/db/package.json
Due: format

implement per-request transaction context with ALS
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/agents/service.ts
  apps/api/src/modules/branches/index.ts
  apps/api/src/modules/branches/service.ts
  apps/api/src/utils/request-db.ts
  bun.lock
Due: format, lint

add logger
  apps/api/package.json
  apps/api/src/index.ts
  bun.lock
Due: format, lint

include pretty logger for local dev
  apps/api/package.json
  bun.lock
Due: format

simplify naming
  apps/api/src/modules/agents/service.ts
Due: format, lint

add withAudit helper to centralize audit fields and soft-delete filtering
  apps/api/src/index.ts
  apps/api/src/middlewares/audit-fields.ts
  apps/api/src/middlewares/user-id.ts
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/agents/service.ts
  apps/api/src/modules/branches/index.ts
  apps/api/src/modules/branches/service.ts
  packages/db/audit-utils.ts
  packages/db/drizzle.ts
Due: format, lint

update lockfile
  bun.lock
Due: none

keep withRequestTransaction only where required
  apps/api/src/modules/agents/index.ts
  apps/api/src/modules/branches/index.ts
Due: format, lint

Update <Chat> component to take a TS representation of models.json and apiKey as props.
  apps/console/app/routes/_shell/route.tsx
  packages/aikit-ui/src/blocks/Chat.tsx
  packages/aikit-ui/src/types/chat.ts
Due: format, lint

Remove ugly error display.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Removed logged errors. Added placeholder error message.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Gave playground sidebar and main sidebar independent defaultOpen states.
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

Remove useless placeholder.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

removed duplicates.
  packages/aikit-ui/src/_shadcn/ui/avatar copy.tsx
  packages/aikit-ui/src/_shadcn/ui/badge copy.tsx
  packages/aikit-ui/src/_shadcn/ui/button copy.tsx
  packages/aikit-ui/src/_shadcn/ui/dropdown-menu copy.tsx
  packages/aikit-ui/src/_shadcn/ui/input copy.tsx
  packages/aikit-ui/src/_shadcn/ui/select copy.tsx
  packages/aikit-ui/src/_shadcn/ui/separator copy.tsx
  packages/aikit-ui/src/_shadcn/ui/sheet copy.tsx
  packages/aikit-ui/src/_shadcn/ui/sidebar copy.tsx
  packages/aikit-ui/src/_shadcn/ui/skeleton copy.tsx
  packages/aikit-ui/src/_shadcn/ui/tooltip copy.tsx
Due: format, lint

Addressed overlapping components in aikit-ui/_shadcn and ui/_shadcn
  packages/aikit-ui/src/_shadcn/ui/alert.tsx
  packages/aikit-ui/src/_shadcn/ui/badge.tsx
  packages/aikit-ui/src/_shadcn/ui/card.tsx
  packages/aikit-ui/src/_shadcn/ui/dialog.tsx
  packages/aikit-ui/src/_shadcn/ui/dropdown-menu.tsx
  packages/aikit-ui/src/_shadcn/ui/form.tsx
  packages/aikit-ui/src/_shadcn/ui/input.tsx
  packages/aikit-ui/src/_shadcn/ui/label.tsx
  packages/aikit-ui/src/_shadcn/ui/popover.tsx
  packages/aikit-ui/src/_shadcn/ui/scroll-area.tsx
  packages/aikit-ui/src/_shadcn/ui/separator.tsx
  packages/aikit-ui/src/_shadcn/ui/sheet.tsx
  packages/aikit-ui/src/_shadcn/ui/sidebar.tsx
  packages/aikit-ui/src/_shadcn/ui/skeleton.tsx
  packages/aikit-ui/src/_shadcn/ui/tooltip.tsx
  packages/ui/src/_shadcn/ui/avatar.tsx
  packages/ui/src/_shadcn/ui/button.tsx
  packages/ui/src/_shadcn/ui/select.tsx
  packages/ui/src/_shadcn/ui/sidebar.tsx
  packages/ui/src/components/Badge.tsx
  packages/ui/src/components/Card.tsx
  packages/ui/src/components/Dialog.tsx
  packages/ui/src/components/DropdownMenu.tsx
  packages/ui/src/components/Form.tsx
  packages/ui/src/components/Input.tsx
  packages/ui/src/components/Sidebar.tsx
  packages/ui/src/components/Skeleton.tsx
Due: format, lint

Update import path.
  packages/ui/src/components/Alert.tsx
Due: format, lint

Put comment back.
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

Removed custom hook and types and used vercel ai sdk instead.
  packages/aikit-ui/src/blocks/Chat.tsx
  packages/aikit-ui/src/hooks/use-chat.ts
  packages/aikit-ui/src/types/chat.ts
Due: format, lint

Cleaned up package.json deps, peerDeps and devDeps.
  packages/aikit-ui/package.json
Due: format

Removed export default from <Chat/>
  apps/console/app/routes/_shell/route.tsx
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Moved ai-elements to devDeps and removed extra deps.
  packages/aikit-ui/package.json
Due: format

Move ai-elements inito devDeps. Organise deps and remove extra deps.
  bun.lock
  packages/aikit-ui/package.json
Due: format

Update components.json for ui and aikit-ui.
  packages/ui/components.json
Due: format

Update small import.
  packages/ui/components.json
Due: format

Migrate from MirageJS ORM to @mswjs/data
  apps/console/app/mocks/_miragejs/orm/LICENSE.md
  apps/console/app/mocks/_miragejs/orm/db/DB.ts
  apps/console/app/mocks/_miragejs/orm/db/DbCollection.ts
  apps/console/app/mocks/_miragejs/orm/db/IdentityManager.ts
  apps/console/app/mocks/_miragejs/orm/db/NumberIdentityManager.ts
  apps/console/app/mocks/_miragejs/orm/db/index.ts
  apps/console/app/mocks/_miragejs/orm/factory/BaseFactory.ts
  apps/console/app/mocks/_miragejs/orm/factory/Factory.ts
  apps/console/app/mocks/_miragejs/orm/factory/index.ts
  apps/console/app/mocks/_miragejs/orm/index.ts
  apps/console/app/mocks/_miragejs/orm/inflector/Inflector.ts
  apps/console/app/mocks/_miragejs/orm/inflector/index.ts
  apps/console/app/mocks/_miragejs/orm/model/BaseModel.ts
  apps/console/app/mocks/_miragejs/orm/model/List.ts
  apps/console/app/mocks/_miragejs/orm/model/Model.ts
  apps/console/app/mocks/_miragejs/orm/model/index.ts
  apps/console/app/mocks/_miragejs/orm/registry/Registry.ts
  apps/console/app/mocks/_miragejs/orm/registry/index.ts
  apps/console/app/mocks/_miragejs/orm/schema/Schema.ts
  apps/console/app/mocks/_miragejs/orm/schema/SchemaCollection.ts
  apps/console/app/mocks/_miragejs/orm/schema/index.ts
  apps/console/app/mocks/_miragejs/orm/utils/MirageError.ts
  apps/console/app/mocks/_miragejs/orm/utils/index.ts
  apps/console/app/mocks/_miragejs/orm/utils/string.ts
  apps/console/app/mocks/agents.ts
  apps/console/app/mocks/branches.ts
  apps/console/app/mocks/db.ts
  apps/console/package.json
  bun.lock
Due: format, lint

Model relationship between agents & branches
  apps/console/app/mocks/agents.ts
  apps/console/app/mocks/db.ts
Due: format, lint

CodeRabbit fix
  apps/console/app/mocks/agents.ts
Due: format, lint

Use provided Vercel AI generateText() hook for calling provider and address lint issues.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Persist mock DB across HMR
  apps/console/app/mocks/db.ts
Due: format, lint

Remove console.error
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Refactor package dependencies by removing unused Radix UI components and React from devDependencies in both bun.lock and aikit-ui package.json.
  bun.lock
  packages/aikit-ui/package.json
Due: format

narrow better type
  packages/db/drizzle.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}
  lint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
