Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}"
      run: bun run format:staged -- {staged_files} && git add {staged_files}

    lint:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs}"
      run: bun run lint:staged -- {staged_files} && git add {staged_files}

remove duplication
  infra/stacks/api.ts
  infra/stacks/console.ts
  infra/stacks/gateway.ts
Due: format, lint

revert on env variables not handled has secrets
  .env.example
  infra/stacks/api.ts
  infra/stacks/console.ts
  infra/stacks/db.ts
  infra/stacks/env.ts
  infra/stacks/gateway.ts
  infra/stacks/vars.ts
Due: format, lint

document where to find secrets
  README.md
Due: format

restore comment
  apps/console/app/lib/service.ts
Due: format, lint

remove ops from createDb
  packages/db/drizzle.ts
  packages/db/lambda/migrator.ts
Due: format, lint

remove variable used only once
  apps/console/app/lib/service.ts
Due: format, lint

do not export sst secrets
  infra/stacks/vars.ts
Due: format, lint

do not store public values as secure
  infra/stacks/vars.ts
Due: format, lint

fix cicd to rely just on secrets
  .github/workflows/deploy.yml
Due: format

use ADD on dockerfiles
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
Due: none

read secrets from file and document it
  README.md
  infra/.secrets.example
  infra/README.md
Due: format

update readme
  README.md
Due: format

update turbo
  bun.lock
  package.json
Due: format

update sst
  infra/package.json
Due: format

add comment on quality action
  .github/workflows/quality.yml
Due: format

use sst.Resource for lambda
  infra/stacks/db.ts
  packages/db/lambda/migrator.ts
Due: format, lint

update readme
  infra/README.md
Due: format

Remove unnecessary mock endpoint.
  apps/console/app/mocks/branches.ts
Due: format, lint

Remove unnecessary comment.
  apps/console/app/mocks/db.ts
Due: format, lint

Update comment and pass active branch into <PlaygroundSidebar/>
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

Refactor clientAction logic in BranchConfig form by moving the clientAction from form.tsx to route.tsx and update the form.tsx to only contain the schema and form components.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/route.tsx
Due: format, lint

Use getValibotConstraint instead of onValidate.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
Due: format, lint

Add originalAlias handling in BranchModelForm for edit mode
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/route.tsx
Due: format, lint

Moved 'remove' action into seperate form to simplify logic.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/route.tsx
Due: format, lint

prevent secrets to be cleared up
  package.json
Due: format

Remove extra border styling.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
Due: format, lint

Remove _action and ""
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/route.tsx
Due: format, lint

coderabbit comments.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/route.tsx
Due: format, lint

Align closer with figma the Icon and Custom
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
Due: format, lint

Center model configuration screen.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/route.tsx
Due: format, lint

use sst dev
  README.md
  apps/api/.env.example
  apps/api/src/utils/request-db.ts
  apps/gateway/.env.example
  apps/gateway/package.json
  apps/gateway/src/middleware/provider.ts
  bun.lock
  infra/README.md
  infra/package.json
  infra/stacks/api.ts
  infra/stacks/cluster.ts
  infra/stacks/console.ts
  infra/stacks/db.ts
  infra/stacks/gateway.ts
  infra/stacks/network.ts
  infra/stacks/vars.ts
  infra/stacks/vpc.ts
  package.json
  packages/db/README.md
  packages/db/drizzle.config.ts
  packages/db/drizzle.ts
  packages/db/lambda/migrator.ts
  packages/db/package.json
  packages/db/runtime-config.ts
  packages/shared-api/auth/stack-auth.ts
  packages/shared-api/package.json
  turbo.json
Due: format, lint

Add proper column layout and ensure consistent spacing.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
Due: format, lint

Add copy to clipboard functionality.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
Due: format, lint

add db dev compose file
  infra/stacks/docker/docker-compose.dev.yml
Due: format

sst remove when running bun clean
  package.json
Due: format

Move sidebarnav into sidebar group to make it centered.
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

use stable middlewares
  apps/console/app/routes/_shell._index/route.tsx
  apps/console/app/routes/_shell/route.tsx
  apps/console/package.json
  apps/console/react-router.config.ts
  bun.lock
Due: format, lint

update bun
  .github/workflows/deploy.yml
  .github/workflows/quality.yml
  apps/api/README.md
  apps/api/package.json
  apps/gateway/package.json
  bun.lock
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
  package.json
  packages/aikit-respond-io/package.json
  packages/db/package.json
  packages/shared-api/package.json
Due: format

fix bun install issue for pruned projects
  apps/gateway/package.json
  bun.lock
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
  package.json
  packages/db/package.json
  packages/shared-api/package.json
Due: format
