Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

colors: false
output: false

post-checkout:
  commands:
    clean:
      run: |
        # only run on branch switches (not file checkout)
        if [ "$3" = "1" ]; then
          bun run clean
        fi

post-merge:
  commands:
    clean:
      run: bun run clean

post-rewrite:
  commands:
    clean:
      run: bun run clean

pre-commit:
  parallel: true

  commands:
    format:
      glob: "**/*.{js,jsx,ts,tsx,json,jsonc,md,mdx,css,html,yaml,yml,toml}"
      run: bun run format:staged -- {staged_files} && git add {staged_files}

    lint:
      glob: "**/*.{ts,tsx,js,jsx,mjs,cjs}"
      run: bun run lint:staged -- {staged_files} && git add {staged_files}

fix(console/providers): small form cleanups
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.api-keys/revoke.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.providers/clear.tsx
Due: format, lint

fix(console/providers): set of edge cases fixes
  apps/console/app/mocks/routes/providers.ts
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/route.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/schema.ts
  bun.lock
  packages/shared-ui/src/components/Select.tsx
Due: format, lint

fix(console/providers): avoid route invalidation on field change
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
Due: format, lint

fix(console/providers): CodeRabbit fixes
  apps/console/app/mocks/routes/providers.ts
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.providers/route.tsx
Due: format, lint

feat(console/providers): CodeRabbit nitpicks
  apps/console/app/lib/auth/dummy-auth.ts
  apps/console/app/mocks/db.ts
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.providers/configure.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.providers/list.tsx
Due: format, lint

fix(console/providers): fix form state after submission
  apps/console/app/lib/errors.ts
  apps/console/app/lib/utils.ts
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.api-keys/create.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.api-keys/revoke.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.providers/clear.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.providers/configure.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branches/create.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branches/delete.tsx
Due: format, lint

fix(console/providers): rebuild bun.lock after rebase
  bun.lock
Due: none

fix(gateway): errors during streaming
  apps/gateway/src/middlewares/error-handler.ts
  apps/gateway/src/middlewares/providers/errors.ts
  apps/gateway/src/utils/converters.ts
  packages/aikit-ui/src/lib/openai-transport.ts
Due: format, lint

style(console): be consistent with method definition
  apps/gateway/src/middlewares/error-handler.ts
Due: format, lint

ci: add GitHub workflow to publish aikit-respond-io to NPM
  .github/workflows/publish.yml
Due: format

fix(console): prevent streaming chunks after error
  packages/aikit-ui/src/lib/openai-transport.ts
Due: format, lint

fix(console/providers): edge case handling
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/schema.ts
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.providers/list.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branches/table.tsx
Due: format, lint

fix(console/providers): CodeRabbit nitpicks
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.providers/configure.tsx
  apps/console/app/routes/_shell/sidebar-platform.tsx
Due: format, lint

fix(console): flip errors on unsuccesful streaming
  packages/aikit-ui/src/lib/openai-transport.ts
Due: format, lint

ci: some enhancement
  .github/workflows/publish.yml
Due: format

docs: use hattip as example for express and aws lambda
  packages/aikit-respond-io/README.md
Due: format

docs: simplify the README
  packages/aikit-respond-io/README.md
Due: format

fix(console/providers): edge case fix
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.api-keys/create.tsx
Due: format, lint

feat: update publish workflow to support multiple aikit packages dynamically
  .github/workflows/publish.yml
Due: format

bun lock
  bun.lock
Due: none

fix(console/providers): edge cases
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.api-keys/create.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
  infra/stacks/env.ts
  packages/shared-ui/src/components/Select.tsx
Due: format, lint

fix(console/providers): edge cases
  packages/shared-ui/src/components/Select.tsx
Due: format, lint

style(console/providers): rename fallbacks from "n/a" to "undefined"
  infra/stacks/env.ts
Due: format, lint

fix(console): Small fixes to the API Key page
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.api-keys/create.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.api-keys/table.tsx
Due: format, lint

chore: align bun & turbo versions
  apps/api/package.json
  apps/gateway/package.json
  bun.lock
  infra/docker/Dockerfile.api
  infra/docker/Dockerfile.gateway
  package.json
Due: format

fix(console): CodeRabbit nitpick
  packages/shared-ui/src/components/Select.tsx
Due: format, lint

style(console): nitpicks
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.providers/configure.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.providers/route.tsx
Due: format, lint

chore: align bun veresion in github workflows
  .github/workflows/deploy.yml
  .github/workflows/quality.yml
Due: format

style(console/providers): nitpicks
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.providers/configure.tsx
Due: format, lint

keep naming consistent
  apps/gateway/src/middlewares/error-handler.ts
  apps/gateway/src/utils/converters.ts
Due: format, lint

simplify converter logic
  apps/gateway/src/middlewares/error-handler.ts
  apps/gateway/src/utils/converters.ts
Due: format, lint

docs(console): update code snippet example
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug._index/route.mdx
Due: format

fix with correct syntax
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug._index/route.mdx
Due: format

fix(console/playground): code review changes
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.providers/configure.tsx
Due: format, lint

doc(console/providers): docstring
  apps/console/app/lib/utils.ts
Due: format, lint

fix(console/providers): edge case
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
Due: format, lint

docs(console): simplify example
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug._index/route.mdx
Due: format

docs(console): rename provider to hebo
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug._index/route.mdx
Due: format

use model slug instead of model alias
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug._index/route.mdx
Due: format

chores(gateway): remove support for old claude and haiku models
  packages/shared-data/json/supported-models.json
Due: format
