Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}"
      run: bun run format:staged -- {staged_files} && git add {staged_files}

    lint:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs}"
      run: bun run lint:staged -- {staged_files} && git add {staged_files}

separate dockerfiles
  infra/package.json
  infra/stacks/build-service/Dockerfile.api
  infra/stacks/build-service/Dockerfile.gateway
  infra/stacks/build-service/publish-image.sh
Due: format

use distroless for docker runners
  infra/stacks/build-service/Dockerfile.api
  infra/stacks/build-service/Dockerfile.gateway
Due: none

Update lockfile
  bun.lock
Due: none

Regenerate lockfile
  bun.lock
Due: none

lockfile
  bun.lock
Due: none

make dockerfile build and run
  infra/stacks/build-service/Dockerfile.api
  infra/stacks/build-service/Dockerfile.gateway
  package.json
Due: format

update lockfile
  bun.lock
Due: none

simplify dockerfiles
  infra/stacks/build-service/Dockerfile.api
  infra/stacks/build-service/Dockerfile.gateway
Due: none

use pulumi to build and publish image
  infra/stacks/api.ts
  infra/stacks/build-service/publish-image.sh
  infra/stacks/gateway.ts
  infra/stacks/registry.ts
  sst.config.ts
Due: format, lint

update readme
  infra/README.md
Due: format

remove deprecated scripts
  infra/package.json
Due: format

Rename slug to agentSlug.
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

Implement agent and branch routing updates: Change slug references to agentSlug in clientLoader and related components, enhance agent selection links to include branch paths.
  apps/console/app/routes/_shell._index/route.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug._index/api-key.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug._index/route.mdx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug/route.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.settings/danger-zone.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.settings/general.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.settings/route.tsx
  apps/console/app/routes/_shell.agent.$agentSlug/route.tsx
  apps/console/app/routes/_shell.agent.create/route.tsx
  apps/console/app/routes/_shell/route.tsx
  apps/console/app/routes/_shell/sidebar-agent.tsx
Due: format, lint

replace axios with ky for http client
  bun.lock
  packages/aikit-respond/package.json
  packages/aikit-respond/src/respondio/index.ts
  packages/aikit-respond/src/respondio/types.ts
  packages/aikit-respond/src/webhook/index.ts
Due: format, lint

refactor exports
  packages/aikit-respond/src/index.ts
  packages/aikit-respond/src/respondio/index.ts
  packages/aikit-respond/src/webhook/index.ts
Due: format, lint

Rename getKeyboardShortcut to kbs
  apps/console/app/lib/utils.ts
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

rename package
  bun.lock
  packages/aikit-respond-io/README.md
  packages/aikit-respond-io/package.json
  packages/aikit-respond-io/src/index.ts
  packages/aikit-respond-io/src/webhook/types.ts
  packages/aikit-respond-io/tsconfig.json
Due: format, lint

Remove unnecessary undefined check.
  apps/console/app/lib/utils.ts
Due: format, lint

Update agent mock API to use dynamic type for request body: Replace explicit type definition with ReturnType from db.agent.create, and add defaultModel field in the database schema.
  apps/console/app/mocks/agents.ts
  apps/console/app/mocks/db.ts
Due: format, lint

Removed 'any'.
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

Update gateway URL handling to log an error if not set. Remove apiKey from modelsConfig and OpenAI client instantiation.
  apps/console/app/routes/_shell/sidebar-playground.tsx
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

remove build-service folder
  infra/stacks/build-service/catalog/api.json
  infra/stacks/build-service/catalog/gateway.json
  infra/stacks/docker/.dockerignore
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
Due: format

remove unused scripts
  infra/package.json
Due: format

pin to bun version 1.2.21
  apps/api/package.json
  apps/gateway/package.json
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
  package.json
Due: format

infer repo name from repository object
  infra/stacks/api.ts
  infra/stacks/gateway.ts
Due: format, lint

explicitly copy package.json first
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
Due: none

Add USER directive to Dockerfiles
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
Due: none

typo
  infra/README.md
Due: format

Fix package dependency problems during build
  apps/api/package.json
  apps/console/package.json
  apps/gateway/package.json
  bun.lock
  packages/db/package.json
Due: format

Added focus on ChatInput when Ctrl + L is pressed.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Ensure valid model is always selected.
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Remove the duplicate path mappings from the console tsconfig.
  apps/console/tsconfig.json
Due: format

Update lockfile.
  bun.lock
Due: none

Revert tsconfig to include proper paths.
  apps/console/tsconfig.json
Due: format

remove qs dependency
  bun.lock
  packages/aikit-respond-io/package.json
Due: format

include --frozen-lockfile and --production flags
  bun.lock
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
Due: none
