Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}"
      run: bun run format:staged -- {staged_files} && git add {staged_files}

    lint:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs}"
      run: bun run lint:staged -- {staged_files} && git add {staged_files}

stages already have different tags
  infra/stacks/api.ts
  infra/stacks/gateway.ts
Due: format, lint

move ecr related resources to ecr.ts
  infra/stacks/api.ts
  infra/stacks/ecr.ts
  infra/stacks/gateway.ts
  infra/stacks/iam.ts
  sst.config.ts
Due: format, lint

update description
  infra/stacks/security-group.ts
Due: format, lint

Update components.json of aikit-ui and ui to use proper relative imports.
  packages/aikit-ui/components.json
  packages/ui/components.json
Due: format

Update lockfile.
  bun.lock
Due: none

fix resource name
  infra/stacks/console.ts
Due: format, lint

fix docs
  apps/api/README.md
Due: format

remove deploy script
  .github/workflows/deploy.yml
  README.md
  infra/README.md
  package.json
Due: format

remove duplication in infra code
  infra/stacks/api.ts
  infra/stacks/gateway.ts
  infra/stacks/security-group.ts
  infra/stacks/vpc.ts
Due: format, lint

remove code duplication to build docker image
  infra/stacks/api.ts
  infra/stacks/ecr.ts
  infra/stacks/gateway.ts
Due: format, lint

remove vpc default export
  infra/stacks/db.ts
  infra/stacks/vpc.ts
Due: format, lint

add todo
  packages/db/runtime-config.ts
Due: format, lint

make apprunner deploy complete
  apps/api/.env.example
  apps/api/src/index.ts
  apps/gateway/.env.example
  apps/gateway/src/index.ts
  infra/stacks/api.ts
  infra/stacks/gateway.ts
  infra/stacks/vpc.ts
Due: format, lint

update readme
  infra/README.md
Due: format

include gateway
  infra/stacks/console.ts
Due: format, lint

consistency
  README.md
  apps/api/README.md
Due: format

add futures
  apps/api/src/index.ts
  apps/gateway/src/index.ts
Due: format, lint

fix eslint script
  package.json
Due: format

update readme
  README.md
Due: format

update docs with correct subdomains
  apps/console/app/routes/_shell.agent.$slug._index/route.mdx
  infra/README.md
Due: format

fix subdomain docs
  apps/console/app/routes/_shell.agent.$slug._index/route.mdx
Due: format

update docs
  apps/console/app/routes/_shell.agent.$slug._index/route.mdx
Due: format

update api client example with Hono
  packages/aikit-respond-io/README.md
Due: format

fix bug with payload in webhook
  packages/aikit-respond-io/src/webhook/index.ts
Due: format, lint

Fix "bun clean" script
  apps/api/package.json
  apps/console/package.json
  apps/gateway/package.json
  package.json
  packages/aikit-respond-io/package.json
  packages/db/package.json
  packages/shared-api/package.json
  packages/ui/package.json
Due: format

Error Handling: show shell when available
  apps/console/app/components/ui/ErrorView.tsx
  apps/console/app/root.tsx
  apps/console/app/routes/_auth.signin/route.tsx
  apps/console/app/routes/_shell/route.tsx
  apps/console/app/routes/_shell/sidebar-agent.tsx
Due: format, lint

Webhook export fetch function
  packages/aikit-respond-io/README.md
  packages/aikit-respond-io/src/webhook/index.ts
Due: format, lint

renaming classes and types
  packages/aikit-respond-io/README.md
  packages/aikit-respond-io/package.json
  packages/aikit-respond-io/src/agent/index.ts
  packages/aikit-respond-io/src/api/errors.ts
  packages/aikit-respond-io/src/client/errors.ts
  packages/aikit-respond-io/src/client/index.ts
  packages/aikit-respond-io/src/client/types.ts
  packages/aikit-respond-io/src/index.ts
  packages/aikit-respond-io/src/webhook/errors.ts
  packages/aikit-respond-io/src/webhook/index.ts
  packages/aikit-respond-io/src/webhook/types.ts
Due: format, lint

uniform env variables
  apps/api/.env.example
  apps/console/.env.example
  apps/gateway/.env.example
  infra/stacks/api.ts
  infra/stacks/gateway.ts
Due: format, lint

improve access policy name
  infra/stacks/ecr.ts
Due: format, lint

fix secret typo
  infra/stacks/gateway.ts
  infra/stacks/secrets.ts
Due: format, lint

update vpc sg description
  infra/stacks/vpc.ts
Due: format, lint

refactor create docker image
  infra/stacks/api.ts
  infra/stacks/ecr.ts
  infra/stacks/gateway.ts
Due: format, lint

restore force delete
  infra/stacks/ecr.ts
Due: format, lint

remove unnecessary config
  apps/api/src/index.ts
  apps/gateway/src/index.ts
  infra/stacks/api.ts
  infra/stacks/gateway.ts
Due: format, lint
