Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

colors: false
output: false

post-checkout:
  commands:
    clean:
      run: |
        # only run on branch switches (not file checkout)
        if [ "$3" = "1" ]; then
          bun run clean
        fi

post-merge:
  commands:
    clean:
      run: bun run clean

post-rewrite:
  commands:
    clean:
      run: bun run clean

pre-commit:
  parallel: true

  commands:
    format:
      glob: "**/*.{js,jsx,ts,tsx,json,jsonc,md,mdx,css,html,yaml,yml,toml}"
      run: bun run format:staged -- {staged_files} && git add {staged_files}

    lint:
      glob: "**/*.{ts,tsx,js,jsx,mjs,cjs}"
      run: bun run lint:staged -- {staged_files} && git add {staged_files}

docs(mcp): document usage
  apps/mcp/README.md
Due: format

chores(mcp): reuse server across requests
  apps/mcp/src/aikit/mcp-transport.ts
  apps/mcp/src/index.ts
Due: format, lint

chores(mcp): simplify mcp handler
  apps/mcp/src/aikit/mcp-transport.ts
  apps/mcp/src/index.ts
Due: format, lint

chores(mcp): move public assets under /ui
  apps/mcp/src/index.ts
  apps/mcp/src/ui/public/hebo-icon.png
Due: format, lint

chores(mcp): avoid unnecessary cast
  apps/mcp/src/aikit/mcp-transport.ts
Due: format, lint

feat(mcp): introduce client bundle and hydratation
  apps/mcp/package.json
  apps/mcp/src/index.ts
  apps/mcp/src/ui/client.tsx
  apps/mcp/src/ui/components/Counter.tsx
  apps/mcp/src/ui/root.tsx
Due: format, lint

chores(mcp): remove unused script
  apps/mcp/package.json
Due: format

fix(mcp): ensure cleanup on response finish and error events
  apps/mcp/src/aikit/mcp-transport.ts
Due: format, lint

chores(mcp): use static plugin for dist resoruces
  apps/mcp/package.json
  apps/mcp/src/index.ts
Due: format, lint

fix(mcp): define correct nonroot users on server runners
  infra/docker/Dockerfile.api
  infra/docker/Dockerfile.gateway
  infra/docker/Dockerfile.mcp
Due: none

chores(gateway): uniform dev script to api
  apps/gateway/package.json
Due: format

fix(gateway): dev script
  apps/gateway/package.json
Due: format

chores(mcp): unify css filename
  apps/mcp/package.json
  apps/mcp/src/ui/styles.css
Due: format

chores(mcp): consistent bun types
  apps/mcp/package.json
Due: format

refactor: migrate model config to typescript with reasoning support
  packages/shared-data/models/base.ts
  packages/shared-data/models/cohere.ts
  packages/shared-data/models/gemini.ts
  packages/shared-data/models/gpt.ts
  packages/shared-data/models/index.ts
  packages/shared-data/package.json
  packages/shared-data/types/models.ts
Due: format, lint

feat(gateway): Enhance provider options handling for reasoning
  apps/gateway/src/middlewares/ai-model-factory.ts
  apps/gateway/src/middlewares/providers/bedrock.ts
  apps/gateway/src/middlewares/providers/provider.ts
  apps/gateway/src/middlewares/providers/vertex.ts
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/modules/embeddings.ts
  apps/gateway/src/utils/converters.ts
Due: format, lint
