Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format:staged -- {staged_files} && git add {staged_files}

lint:
  run: bun run lint:staged -- {staged_files} && git add {staged_files}

include NODE_ENV in lambda env
  infra/stacks/db.ts
Due: format, lint

use IS_REMOTE instead of NODE_ENV
  infra/stacks/api.ts
  infra/stacks/db.ts
  infra/stacks/gateway.ts
  packages/db/drizzle.ts
  packages/shared-api/cors/cors-config.ts
Due: format, lint

set correct secret names on deploy worflow
  .github/workflows/deploy.yml
Due: format

update readme
  README.md
Due: format

restore removal of the horizontal margin
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

rename vars to env
  infra/stacks/api.ts
  infra/stacks/console.ts
  infra/stacks/db.ts
  infra/stacks/env.ts
  infra/stacks/gateway.ts
Due: format, lint

fail fast when auth cookie is malformed
  apps/console/app/lib/auth/stack-auth.ts
Due: format, lint

Use split icon instead of deprecated RailSymbol.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
Due: format, lint

remove scripts
  package.json
Due: format

Remove unused import and add mt to header of configuration.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.config/form.tsx
Due: format, lint

make auth secrets optional
  infra/stacks/env.ts
Due: format, lint

improve tooling scripts around the db
  .gitignore
  README.md
  infra/package.json
  infra/stacks/docker/.dockerignore
  infra/stacks/docker/docker-compose.dev.yml
  package.json
Due: format

migrate can't be run before a first sst dev
  README.md
  package.json
Due: format

fix: correct syntax in dev:app script for proper variable interpolation
  package.json
Due: format

typo
  README.md
Due: format

fix readme
  README.md
Due: format

clean is not a turbo command
  turbo.json
Due: format

dbUsername and dbPassword as optional in dev
  infra/.secrets.example
  infra/stacks/env.ts
Due: format, lint

remove infra readme
  README.md
  infra/README.md
Due: format

remove .secrets.example file
  README.md
  infra/.secrets.example
  package.json
Due: format

update ignored files
  .gitignore
  infra/stacks/docker/.dockerignore
Due: none

remove unused placeholder
  infra/stacks/env.ts
Due: format, lint

document usage of bun shell to run dev in single app
  README.md
  bun.lock
  package.json
Due: format

use secret placeholders
  infra/stacks/env.ts
  packages/shared-api/auth/auth-service.ts
Due: format, lint

be consistent
  README.md
Due: format

simplify example usage
  README.md
Due: format

missing comment
  README.md
Due: format

consistency
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

improve if logic on auth selector
  packages/shared-api/auth/auth-service.ts
Due: format, lint

revert unnecessary change
  apps/api/src/utils/request-db.ts
Due: format, lint

remove log since execution is bound to deployment
  packages/db/lambda/migrator.ts
Due: format, lint

remove unnecessary dependency
  apps/gateway/package.json
  bun.lock
  package.json
  packages/db/package.json
  packages/shared-api/package.json
Due: format

improve readme
  README.md
Due: format

make dev command ok for windows
  README.md
  bun.lock
  package.json
Due: format

typo on readme
  README.md
Due: format

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}
  lint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
