Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format:staged -- {staged_files} && git add {staged_files}

lint:
  run: bun run lint:staged -- {staged_files} && git add {staged_files}

extend lambda timeout
  infra/stacks/db.ts
Due: format, lint

remove elysia as dependency from database
  packages/database/package.json
Due: format

update lockfile
  bun.lock
Due: none

solve issue with prisma generate step
  package.json
  packages/database/package.json
  turbo.json
Due: format

uniform clean script
  apps/api/package.json
  infra/.env.example
  infra/package.json
  package.json
Due: format

update elysia and use openapi plugin
  apps/api/package.json
  apps/api/src/index.ts
  apps/gateway/package.json
  apps/gateway/src/index.ts
  bun.lock
  packages/shared-api/package.json
Due: format, lint

define models type for elysia
  apps/api/src/modules/branches.ts
Due: format, lint

Update types to align with respond specification
  packages/aikit-respond-io/src/webhook/types.ts
Due: format, lint

remove repositories
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  packages/database/config.ts
  packages/database/lambda/migrator.ts
  packages/database/prisma-config.ts
  packages/database/prisma/schema.prisma
  packages/database/repository.ts
Due: format, lint

Update agents.ts
  apps/api/src/modules/agents.ts
Due: format, lint

move soft delete into prisma extension
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  packages/database/lambda/migrator.ts
  packages/database/prisma-extension.ts
Due: format, lint

remove connection string injection into the env
  packages/database/prisma-extension.ts
Due: format, lint

extend type
  packages/database/prisma-extension.ts
Due: format, lint

nitpicks
  packages/database/prisma-extension.ts
Due: format, lint

use uuid 7
  packages/database/prisma/migrations/20251011041744_db_init/migration.sql
  packages/database/prisma/schema.prisma
Due: none

include elysia in database dev
  bun.lock
  packages/database/package.json
Due: format

simplify modelling
  apps/api/src/modules/agents.ts
Due: format, lint

fix prisma extension
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  packages/database/prisma-extension.ts
Due: format, lint

models can be an empty array
  apps/api/src/modules/branches.ts
Due: format, lint

undefined and [] are both valid for models update
  apps/api/src/modules/branches.ts
Due: format, lint

add comment and better typing
  apps/api/src/modules/branches.ts
Due: format, lint

Add future comment
  packages/database/prisma/schema.prisma
Due: none

make dbClient a generic extention
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  packages/shared-api/db-client/db-client.ts
  packages/shared-api/package.json
Due: format, lint

move responsability of applying the right where audit filters to the prisma extension
  apps/api/src/modules/agents.ts
  packages/database/prisma-extension.ts
Due: format, lint

chores on prisma schema
  packages/database/prisma/schema.prisma
Due: none

remove variable only used once
  packages/database/prisma-extension.ts
Due: format, lint

rename prismaExtension to createDbClient
  packages/database/prisma-extension.ts
  packages/shared-api/db-client/db-client.ts
Due: format, lint

rename db client
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  packages/database/client.ts
  packages/database/lambda/migrator.ts
  packages/shared-api/db-client/db-client.ts
Due: format, lint

remove new const for the adapter only used once
  packages/database/client.ts
Due: format, lint

ducktype errors
  bun.lock
  packages/database/package.json
  packages/shared-api/errors/prisma-errors.ts
Due: format, lint

remove unnecessary type cast
  apps/api/src/modules/branches.ts
Due: format, lint

simplify where typing for sofDelete
  packages/database/client.ts
Due: format, lint

simplify create operations
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  packages/database/client.ts
Due: format, lint

exclude create only to avoid unexpected sideeffects with untested operations
  packages/database/client.ts
Due: format, lint

move extension update
  packages/database/client.ts
Due: format, lint

Address Coderabbit comments
  packages/aikit-respond-io/src/webhook/types.ts
Due: format, lint

Update Message sent payload interface
  packages/aikit-respond-io/src/webhook/types.ts
Due: format, lint

add FUTURE
  apps/api/src/modules/branches.ts
Due: format, lint

add FUTURE
  packages/database/client.ts
Due: format, lint

Path conditions:
  format: any of: **/*.{js,jsx,ts,tsx,json,jsonc,md,mdx,css,html,yaml,yml,toml}
  lint: any of: **/*.{ts,tsx,js,jsx,mjs,cjs}
