Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,html,md,mdx,yaml,yml,toml}"
      run: bun run format:staged -- {staged_files} && git add {staged_files}

    lint:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs}"
      run: bun run lint:staged -- {staged_files} && git add {staged_files}

update schema
  packages/aikit-respond-io/src/webhook/types.ts
Due: format, lint

update .dockerignore
  infra/stacks/docker/.dockerignore
Due: none

raise error
  packages/aikit-respond-io/src/index.ts
Due: format, lint

typos on readme
  infra/README.md
Due: format

make variable name consistent
  infra/stacks/gateway.ts
Due: format, lint

Update packages/aikit-respond-io/src/webhook/types.ts
  packages/aikit-respond-io/src/webhook/types.ts
Due: format, lint

Update lockfile.
  bun.lock
Due: none

fix interpolate issue
  infra/stacks/api.ts
  infra/stacks/gateway.ts
Due: format, lint

use repo digest to trigger automated deployments
  infra/stacks/api.ts
Due: format, lint

remove unnecessary step from dockerfiles
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
Due: none

consistency
  infra/stacks/gateway.ts
Due: format, lint

Align drizzle-orm peerDepencies between packages/db and apps/api
  apps/api/package.json
  bun.lock
  packages/db/package.json
Due: format

Implement early return for cases with no agents, and handle API errors gracefully by redirecting to the agent creation page.
  apps/console/app/routes/_shell._index/route.tsx
Due: format, lint

make flow robust to sst stages
  infra/stacks/api.ts
  infra/stacks/gateway.ts
Due: format, lint

proper secret management
  infra/stacks/api.ts
  infra/stacks/gateway.ts
Due: format, lint

Use .gitignore for "bun clean", "prettier" and "eslint"
  .prettierignore
  apps/api/package.json
  apps/console/package.json
  apps/gateway/package.json
  bun.lock
  eslint.config.mjs
  lefthook.yml
  package.json
  packages/db/package.json
  packages/shared-api/package.json
  packages/ui/package.json
Due: format, lint

Enhance PlaygroundSidebar and Chat components to include fetch method in modelsConfig, ensuring credentials are included in API requests.
  apps/console/app/routes/_shell/sidebar-playground.tsx
  packages/aikit-ui/src/blocks/Chat.tsx
Due: format, lint

Coderabbit fixes
  apps/api/package.json
  apps/console/package.json
  apps/gateway/package.json
  lefthook.yml
  package.json
  packages/db/package.json
  packages/shared-api/package.json
  packages/ui/package.json
Due: format

redirect to the first agent's branch if available, otherwise redirect to the agent creation page. Removed unnecessary API error handling for branches.
  apps/console/app/routes/_shell._index/route.tsx
Due: format, lint

Removed hardcoded main.
  apps/console/app/routes/_shell/sidebar-agent.tsx
Due: format, lint

Remove unnecessary .toString.
  apps/console/app/routes/_shell/sidebar-playground.tsx
Due: format, lint

Revert comment.
  apps/console/app/routes/_shell/route.tsx
Due: format, lint

Removed unused route.
  apps/console/app/routes/_shell.agent.$agentSlug/route.tsx
Due: format, lint

Create ClickHouse local config.
  docker-compose.yml
  packages/clickhouse/.env.example
  packages/clickhouse/README.md
  packages/clickhouse/clickhouse.ts
  packages/clickhouse/package.json
  packages/clickhouse/tsconfig.json
  packages/sst.ts
Due: format, lint

Initial steps to remove PGLite.
  apps/api/.env.example
  apps/api/README.md
  bun.lock
  docker-compose.yml
  packages/db/.env.example
  packages/db/drizzle.ts
  packages/db/package.json
  packages/db/runtime-config.ts
Due: format, lint

use turbo prune
  bun.lock
  infra/package.json
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
  package.json
Due: format

Add futures
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
Due: none

use private ecr
  infra/stacks/api.ts
  infra/stacks/gateway.ts
  infra/stacks/iam.ts
  infra/stacks/registry.ts
Due: format, lint

update readme
  infra/README.md
Due: format

include production flag in docker files
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
  packages/shared-api/package.json
Due: format

keep is-localhost-ip in dev
  bun.lock
  packages/shared-api/auth/localhost.ts
  packages/shared-api/package.json
Due: format, lint

typo
  infra/README.md
Due: format

update dockerignore
  infra/stacks/docker/.dockerignore
Due: none

update lockfile
  bun.lock
Due: none

updated gitignore and dockerignore
  .gitignore
  infra/stacks/docker/.dockerignore
Due: none

update readme
  README.md
Due: format

Chores: Set of cleanups to types / packages / tsconfig
  apps/console/package.json
  apps/console/tsconfig.json
  bun.lock
  packages/shared-api/tsconfig.json
Due: format

Remvoe unnecessary include
  apps/console/tsconfig.json
Due: format

Consistently transpile packages instead of relying on package exports
  apps/api/package.json
  apps/api/tsconfig.json
  apps/console/tsconfig.json
  apps/console/vite.config.ts
  apps/gateway/tsconfig.json
  bun.lock
  packages/db/package.json
  packages/shared-api/package.json
  packages/shared-data/package.json
  packages/ui/package.json
  tsconfig.base.json
Due: format, lint
