Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format:staged -- {staged_files} && git add {staged_files}

lint:
  run: bun run lint:staged -- {staged_files} && git add {staged_files}

update lockfile
  bun.lock
Due: none

feat(mcp): add mcp server and tool
  apps/mcp/package.json
  apps/mcp/src/mcp/index.ts
  apps/mcp/src/mcp/tools/count-letter.ts
  bun.lock
Due: format, lint

fix(mcp): notation
  apps/mcp/src/mcp/index.ts
Due: format, lint

chores(mcp): align service to api and gateway standards (logger, healthcheck)
  apps/mcp/package.json
  apps/mcp/src/mcp/index.ts
  apps/mcp/src/mcp/logger.ts
  bun.lock
Due: format, lint

chores(mcp): use errors instead of warn
  apps/mcp/src/mcp/index.ts
Due: format, lint

feat(mcp): make server stateless
  apps/mcp/src/mcp/index.ts
Due: format, lint

feat(mcp): rename sample service to aikit
  apps/mcp/package.json
  apps/mcp/src/aikit/index.ts
  apps/mcp/src/aikit/logger.ts
  apps/mcp/src/aikit/tools/count-letter.ts
Due: format, lint

feat(console): simplify supported models logic
  apps/console/app/components/ui/ModelSelector.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/schema.ts
  apps/console/app/routes/_shell.agent.create/form.tsx
Due: format, lint

feat(console): simplify support providers
  apps/console/app/components/ui/ModelSelector.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
Due: format, lint

feat(console): further simplify supported providers
  apps/console/app/components/ui/ModelSelector.tsx
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/schema.ts
  apps/console/app/routes/_shell.agent.create/form.tsx
Due: format, lint

feat(console): further simplify model selector
  apps/console/app/components/ui/ModelSelector.tsx
Due: format, lint

chores(mcp): remove auto generated files
  apps/mcp/build.ts
  apps/mcp/bun-env.d.ts
  apps/mcp/package.json
Due: format, lint

feat(mcp): use elysia
  apps/mcp/package.json
  apps/mcp/src/aikit/index.ts
  apps/mcp/src/aikit/logger.ts
  bun.lock
  sst.config.ts
Due: format, lint

fix(mcp): include mcp transport
  apps/mcp/src/aikit/utils/mcp-transport.ts
Due: format, lint

docs(mcp): add comments
  apps/mcp/src/aikit/utils/mcp-transport.ts
Due: format, lint

feat(mcp): SSR
  apps/mcp/package.json
  apps/mcp/src/App.tsx
  apps/mcp/src/aikit/index.ts
  apps/mcp/src/frontend.tsx
  apps/mcp/src/index.ts
  apps/mcp/src/index.tsx
Due: format, lint

chores(mcp): rename plugin
  apps/mcp/src/aikit/index.ts
  apps/mcp/src/index.tsx
Due: format, lint

chores(mcp): remove readme and extend from tsconfig base
  apps/mcp/README.md
  apps/mcp/tsconfig.json
Due: format

feat(mcp): wip sst template and deployment
  apps/mcp/package.json
  apps/mcp/scripts/build-frontend.ts
  apps/mcp/src/index.tsx
  infra/docker/Dockerfile.mcp
  infra/stacks/mcp.ts
Due: format, lint

chores(repo): upgrade turbo
  bun.lock
  package.json
Due: none

chores(repo): upgrade eslint-plugin-turbo
  bun.lock
  package.json
Due: none

chores(mcp): move all ui into /ui subfolder
  apps/mcp/package.json
  apps/mcp/public/logo.svg
  apps/mcp/public/react.svg
  apps/mcp/scripts/build-frontend.ts
  apps/mcp/src/index.html
  apps/mcp/src/index.ts
  apps/mcp/src/ui/APITester.tsx
  apps/mcp/src/ui/App.tsx
  apps/mcp/src/ui/Home.tsx
  apps/mcp/src/ui/frontend.tsx
  apps/mcp/src/ui/index.css
  apps/mcp/src/ui/render.tsx
  infra/docker/Dockerfile.mcp
Due: format, lint

chores(mcp): move all elysiajs code into index.ts in the root
  apps/mcp/src/aikit/index.ts
  apps/mcp/src/index.ts
Due: format, lint

chores(mcp): no need for tools and utils subfolders right now
  apps/mcp/src/aikit/count-letter.ts
  apps/mcp/src/aikit/index.ts
  apps/mcp/src/aikit/mcp-transport.ts
Due: format, lint

chores(mcp): simplify dockerfile
  infra/docker/Dockerfile.mcp
Due: none

chores(mcp/infra): cleanup
  infra/stacks/mcp.ts
Due: format, lint

chores(mcp): remove individual copies
  infra/docker/Dockerfile.mcp
Due: none

chores(mcp): simplify frontend
  apps/mcp/package.json
  apps/mcp/public/logo.svg
  apps/mcp/public/react.svg
  apps/mcp/scripts/build-frontend.ts
  apps/mcp/src/index.ts
  apps/mcp/src/ui/APITester.tsx
  apps/mcp/src/ui/App.tsx
  apps/mcp/src/ui/Home.tsx
  apps/mcp/src/ui/frontend.tsx
  apps/mcp/src/ui/index.css
  apps/mcp/src/ui/render.tsx
  bun.lock
  infra/docker/Dockerfile.mcp
Due: format, lint

fix(mcp): cleanup when stream ends
  apps/mcp/src/aikit/mcp-transport.ts
Due: format, lint

chores(mcp): simplify compiler config
  apps/mcp/tsconfig.json
Due: format

chores(mcp): simplify frontend
  apps/mcp/package.json
  apps/mcp/src/index.ts
  apps/mcp/src/ui/App.tsx
  apps/mcp/src/ui/frontend.tsx
  apps/mcp/src/ui/root.tsx
Due: format, lint

docs(mcp): update readme and agents
  AGENTS.md
  README.md
Due: none

docs(mcp): include env example
  apps/mcp/.env.example
Due: none

chores(mcp): update mcp default port to 3003
  apps/mcp/src/index.ts
  infra/docker/Dockerfile.mcp
  infra/stacks/mcp.ts
Due: format, lint

chores(mcp): remove frontend.js
  apps/mcp/package.json
  apps/mcp/src/index.ts
  apps/mcp/src/ui/root.tsx
Due: format, lint

chores(mcp): use elysia static plugin
  apps/mcp/package.json
  apps/mcp/public/hebo-icon.png
  apps/mcp/src/index.ts
  apps/mcp/src/ui/root.tsx
  bun.lock
Due: format, lint

chores(mcp): move mcp index into root index
  apps/mcp/src/aikit/index.ts
  apps/mcp/src/index.ts
Due: format, lint

chores(mcp): reduce complexity to O(m + n)
  apps/mcp/src/aikit/count-letter.ts
Due: format, lint

chores(mcp): make dockerfile DRY
  infra/docker/Dockerfile.mcp
Due: none

fix(mcp): make stream cleanup safe
  apps/mcp/src/aikit/mcp-transport.ts
Due: format, lint

Path conditions:
  format: any of: **/*.{js,jsx,ts,tsx,json,jsonc,md,mdx,css,html,yaml,yml,toml}
  lint: any of: **/*.{ts,tsx,js,jsx,mjs,cjs}
