Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

colors: false
output: false

post-checkout:
  commands:
    clean:
      run: |
        # only run on branch switches (not file checkout)
        if [ "$3" = "1" ]; then
          bun run clean
        fi

post-merge:
  commands:
    clean:
      run: bun run clean

post-rewrite:
  commands:
    clean:
      run: bun run clean

pre-commit:
  parallel: true

  commands:
    format:
      glob: "**/*.{js,jsx,ts,tsx,json,jsonc,md,mdx,css,html,yaml,yml,toml}"
      run: bun run format:staged -- {staged_files} && git add {staged_files}

    lint:
      glob: "**/*.{ts,tsx,js,jsx,mjs,cjs}"
      run: bun run lint:staged -- {staged_files} && git add {staged_files}

revert openapi to swagger
  apps/api/package.json
  apps/api/src/index.ts
  apps/gateway/package.json
  apps/gateway/src/index.ts
  bun.lock
Due: format, lint

make query param explicit
  apps/api/src/modules/agents.ts
Due: format, lint

use status instead of set.status
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
Due: format, lint

await before returning with status
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
Due: format, lint

document which fileds are audit fields
  packages/database/prisma/schema.prisma
Due: none

Refactor ModelConfigurationForm: replace CSS properties with conditional rendering for model rows, introduce hidden input for models snapshot, and streamline state management during form submission.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
Due: format, lint

remove GET before PATCH
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/route.tsx
Due: format, lint

Install react-collapsible dependency in console.
  apps/console/package.json
  bun.lock
Due: format

improve db schema
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  packages/database/prisma/migrations/20250930043249_create_agents_branches_tables/migration.sql
  packages/database/prisma/migrations/20251008043944_create_agents_branches_tables/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/repository.ts
Due: format, lint

use default precision to timestamps
  packages/database/prisma/schema.prisma
Due: none

use lowercase table names
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  packages/database/prisma/migrations/20251008043944_create_agents_branches_tables/migration.sql
  packages/database/prisma/migrations/20251008044937_create_agents_branches_tables/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/repository.ts
Due: format, lint

create agent always return the full branch
  apps/api/src/modules/agents.ts
  packages/database/repository.ts
Due: format, lint

prevent default values when validating models field
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
Due: format, lint

Install radio group component.
  bun.lock
  packages/shared-ui/package.json
  packages/shared-ui/src/_shadcn/ui/radio-group.tsx
Due: format, lint

Export radio group component.
  packages/shared-ui/src/components/RadioGroup.tsx
Due: format, lint

Add radio group selector to row group.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
Due: format, lint

Add model configuration routing section of the model configuration drop down.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
Due: format, lint

remove bun types from root dev dependencies
  package.json
Due: none

Extend branches handler to accept endpoint as part of models.
  apps/console/app/mocks/branches.ts
Due: format, lint

Match form content with branches endpoint handler.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/form.tsx
Due: format, lint

Connect form routing to branches endpoint.
  apps/console/app/routes/_shell.agent.$agentSlug.branch.$branchSlug.models/route.tsx
Due: format, lint

update db generate command
  apps/api/src/modules/agents.ts
  infra/stacks/docker/Dockerfile.api
  infra/stacks/docker/Dockerfile.gateway
  package.json
  packages/database/package.json
  packages/database/tsconfig.json
  turbo.json
Due: format, lint

Update Assignee schema
  packages/aikit-respond-io/src/webhook/types.ts
Due: format, lint

do not use any to silence typescript error
  packages/database/config.ts
Due: format, lint

move docker folder
  infra/docker/Dockerfile.api
  infra/docker/Dockerfile.gateway
  infra/stacks/api.ts
  infra/stacks/gateway.ts
Due: format, lint

fix peer dependencies
  bun.lock
  packages/database/package.json
  packages/shared-api/package.json
Due: format

use findFirstOrThrow
  packages/database/repository.ts
  packages/database/src/errors/index.ts
  packages/shared-api/middlewares/prisma-errors.ts
Due: format, lint

update prisma
  bun.lock
  packages/database/package.json
Due: format

fix bun lockfile
  bun.lock
Due: none

fix bun dev race condition
  bun.lock
  packages/database/package.json
  turbo.json
Due: format

return startus 204
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
Due: format, lint

fix wuality workflow?
  turbo.json
Due: none

update sst
  bun.lock
  package.json
Due: none

we only need sst when deploying
  .github/workflows/deploy.yml
Due: format

fix deploy workflow
  .github/workflows/deploy.yml
Due: format

update prisma schema
  packages/database/prisma/migrations/20251008044937_create_agents_branches_tables/migration.sql
  packages/database/prisma/migrations/20251009055650_create_agents_branches_tables/migration.sql
  packages/database/prisma/schema.prisma
Due: none

consistently return statuses
  apps/api/src/modules/agents.ts
Due: format, lint

improve prisma errors middleware
  apps/api/src/index.ts
  bun.lock
  packages/shared-api/errors/prisma-errors.ts
  packages/shared-api/package.json
Due: format, lint

simplify body for POST
  apps/api/src/modules/agents.ts
Due: format, lint

fix errors
  apps/gateway/src/middlewares/oai-errors.ts
  bun.lock
  packages/shared-api/errors/prisma-errors.ts
  packages/shared-api/package.json
Due: format, lint
