Repository heboai/hebo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

colors: false
output: false

post-checkout:
  commands:
    clean:
      run: |
        # only run on branch switches (not file checkout)
        if [ "$3" = "1" ]; then
          bun run clean
        fi

post-merge:
  commands:
    clean:
      run: bun run clean

post-rewrite:
  commands:
    clean:
      run: bun run clean

pre-commit:
  parallel: true

  commands:
    format:
      glob: "**/*.{js,jsx,ts,tsx,json,jsonc,md,mdx,css,html,yaml,yml,toml}"
      run: bun run format:staged -- {staged_files} && git add {staged_files}

    lint:
      glob: "**/*.{ts,tsx,js,jsx,mjs,cjs}"
      run: bun run lint:staged -- {staged_files} && git add {staged_files}

introduce docker compose and document each script
  README.md
  infra/docker/docker-compose.yml
  package.json
Due: format

readme typo
  README.md
Due: none

secret management using bun secrets
  README.md
  apps/api/.env.example
  apps/gateway/.env.example
  apps/gateway/src/middlewares/provider.ts
  package.json
  packages/shared-api/middlewares/auth/stack-auth.ts
  packages/shared-api/package.json
  packages/shared-api/tsconfig.json
  packages/shared-api/utils/get-env.ts
  scripts/secrets.ts
Due: format, lint

fix log typo
  scripts/secrets.ts
Due: format, lint

use generate instead of build
  packages/shared-data/package.json
Due: format

add support for gemini-2.5-flash-lite
  packages/shared-data/json/supported-models.json
Due: format

add provider model
  apps/api/src/index.ts
  apps/api/src/modules/providers.ts
  apps/gateway/src/middlewares/provider.ts
  packages/database/client.ts
  packages/database/prisma/migrations/20251028103958_create_providers/migration.sql
  packages/database/prisma/schema.prisma
  packages/shared-data/types/models.ts
  packages/shared-data/types/provider-config.ts
  packages/shared-data/utils/redact-models.ts
Due: format, lint

mode docker compose
  docker-compose.yaml
  package.json
Due: none

remove db script
  package.json
Due: none

update infra up and down script semantic
  README.md
  package.json
Due: none

regenerate migrations
  packages/database/prisma/migrations/20251029010054_create_providers/migration.sql
Due: none

support providers as a separate model
  apps/gateway/src/middlewares/provider.ts
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/modules/embeddings.ts
  apps/gateway/src/utils/get-model-object.ts
  packages/database/client.ts
  packages/database/prisma/migrations/20251029010054_create_providers/migration.sql
  packages/database/prisma/schema.prisma
  packages/shared-data/types/models.ts
Due: format, lint

fix redact fields for provider model
  packages/database/client.ts
Due: format, lint

fix db init on middleware
  apps/gateway/src/middlewares/provider.ts
Due: format, lint

update script names
  README.md
  package.json
Due: none

update lockfile
  bun.lock
Due: none

fix support for providerConfigs
  apps/api/src/modules/agents.ts
  apps/api/src/modules/branches.ts
  apps/api/src/modules/providers.ts
  apps/gateway/src/middlewares/provider.ts
  packages/database/client.ts
  packages/database/prisma/migrations/20251029010054_create_providers/migration.sql
  packages/database/prisma/migrations/20251029093125_create_provider_configs/migration.sql
  packages/database/prisma/schema.prisma
  packages/shared-data/scripts/generate-models-schema.ts
  packages/shared-data/types/models.ts
  packages/shared-data/types/provider-config.ts
  packages/shared-data/utils/redact-models.ts
  packages/shared-data/utils/redact-provider-config.ts
Due: format, lint

add FUTURE
  apps/gateway/src/utils/get-model-object.ts
Due: format, lint

write function in 1 line
  packages/shared-api/utils/get-env.ts
Due: format, lint

fix error log
  apps/gateway/src/middlewares/provider.ts
Due: format, lint

fix key for get or create provider cache
  apps/gateway/src/middlewares/provider.ts
Due: format, lint

prevent empty aliases
  packages/shared-data/types/models.ts
Due: format, lint

support multiple providers for the same model
  apps/gateway/src/middlewares/oai-errors.ts
  apps/gateway/src/middlewares/provider/index.ts
  apps/gateway/src/middlewares/provider/service.ts
  apps/gateway/src/modules/models.ts
  apps/gateway/src/utils/get-model-object.ts
  packages/shared-data/json/supported-models.json
  packages/shared-data/types/provider-config.ts
Due: format, lint

no need to be safe
  apps/gateway/src/middlewares/provider/service.ts
Due: format, lint

support models with inference profiles for bedrock provider
  .github/workflows/deploy.yml
  apps/gateway/package.json
  apps/gateway/src/middlewares/provider/bedrock.ts
  apps/gateway/src/middlewares/provider/service.ts
  bun.lock
  infra/stacks/env.ts
  packages/shared-data/types/provider-config.ts
Due: format, lint

Gateway to support conversation with tools
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/utils/message-converter.ts
  apps/gateway/src/utils/tool-converter.ts
Due: format, lint

include role servicing of bedrock and vertex
  .github/workflows/deploy.yml
  README.md
  apps/gateway/package.json
  apps/gateway/src/middlewares/oai-errors.ts
  apps/gateway/src/middlewares/provider/bedrock.ts
  apps/gateway/src/middlewares/provider/errors.ts
  apps/gateway/src/middlewares/provider/service.ts
  apps/gateway/src/middlewares/provider/vertex.ts
  bun.lock
  eslint.config.mjs
  infra/stacks/bedrock-provider-role.ts
  infra/stacks/env.ts
  infra/stacks/vertex-provider-account.ts
  packages/shared-api/middlewares/auth/stack-auth.ts
  packages/shared-data/types/provider-config.ts
  sst.config.ts
Due: format, lint

fix vertex secrets on deploy worflow
  .github/workflows/deploy.yml
Due: format

update readme
  README.md
Due: none

simplify vertex options
  apps/gateway/src/middlewares/provider/service.ts
  apps/gateway/src/middlewares/provider/vertex.ts
Due: format, lint

use recommended interpolate
  infra/stacks/vertex-provider-account.ts
Due: format, lint

fix member interpolation
  infra/stacks/vertex-provider-account.ts
Due: format, lint

Address Davide comments
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/utils/message-converter.ts
  apps/gateway/src/utils/openai-compatible-api-schemas.ts
  apps/gateway/src/utils/tool-converter.ts
Due: format, lint

Update apps/gateway/src/modules/completions.ts
  apps/gateway/src/modules/completions.ts
Due: format, lint

Fix linter error
  apps/gateway/src/modules/completions.ts
Due: format, lint

Address H comments
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/utils/openai-compatible-api-schemas.ts
  apps/gateway/src/utils/openai-compatible-converter.ts
Due: format, lint

Fix type-check errors
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/utils/message-converter.ts
  apps/gateway/src/utils/openai-compatible-api-schemas.ts
  apps/gateway/src/utils/openai-compatible-converter.ts
  apps/gateway/src/utils/tool-converter.ts
Due: format, lint

refactor provider middleware to use factories
  apps/gateway/src/middlewares/provider/index.ts
  apps/gateway/src/middlewares/provider/service.ts
  apps/gateway/src/modules/completions.ts
  apps/gateway/src/modules/embeddings.ts
  apps/gateway/src/modules/models.ts
Due: format, lint

fix vertex service account creation
  infra/stacks/vertex-provider-account.ts
Due: format, lint
